/*============================================================================
INFORMATION
==============================================================================
Author: Juma Stevens;
Naming Convention: BEM;
Responsive/Mobile First

BROWSER BUG FIXES
-rotate(0.0001deg) to ..typing fixes FireFox clunky motion on animation
-background-color to ..typing-svg fixes Safari flickering on animation
========================================
TABLE OF CONTENT
========================================
LAYOUT

PRESENTATION












==============================================================================
END OF INFORMATION
============================================================================*/
/* 
FONTS 

title--
font-family: 'Montserrat', sans-serif;

sentense--
font-family: 'Libre Baskerville', serif;
*/


/* 
COLORS

primary--
rgb(255, 88, 81)

white--
rgb(255, 255, 255)

offwhite--
rgb(248, 248, 248)

black
rgb(34, 34, 34)
black v2
rgb(28, 27, 32)


grey
rgb(186, 188, 193)

p font--
rgb(96, 96, 96)

blue--
rgb(65, 74, 107)
*/





/*======================================
GLOBAL RULES
======================================*/
h1,h2,h3,h4,h5,h6,p,span,a,li,div,input {
	font-family: 'Montserrat', sans-serif;
	list-style: none;
}
.button {
	padding: 1em;
	font-size: 1em;
	color: inherit;
	border: 0.2em solid;
	border-color: inherit;
	text-decoration: none;
}





/*============================================================================
HEADER
============================================================================*/
/* turn off non-mobile first units  */
.navbar-toggle__text-container,
.navbar-lang-container,
.navbar-social-container,
.navbar-scrolldown,
.navbar-scrolltop {
	display: none;
}
/*======================================
HEADER
======================================*/
.header {
	position: absolute;
	z-index: 100;
	left: 0;
	top: 0;
	font-size: 0.7rem; /* global font size for header units, use em(s) to assign child values */
}
/*===================
brand name
===================*/
.navbar-brand-container {
	position: absolute;
	left: 40px;
	top: 30px;
	height: 40px;
	margin: 0 0 0 40px;
	display: flex;
	align-items: center;
}
/*===================
menu icon
===================*/
.navbar-toggle {
	position: fixed;
	right: 28px;
	top: 28px;
	width: 45px;
	height: 45px;
	background: rgb(255, 255, 255);
	border-radius: 25px;
}
.navbar-toggle__line-container {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 20px;
	height: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.navbar-toggle__line-0,
.navbar-toggle__line-1,
.navbar-toggle__line-2 {
	background: rgb(34, 34, 34);
	height: 2px;
	-webkit-transition: width 400ms cubic-bezier(0.7, 0, 0.3, 1) 0ms, -webkit-transform 400ms cubic-bezier(0.7, 0, 0.3, 1) 0ms, opacity 100ms ease-out 200ms;
    -moz-transition: width 400ms cubic-bezier(0.7, 0, 0.3, 1) 0ms, -moz-transform 400ms cubic-bezier(0.7, 0, 0.3, 1) 0ms, opacity 100ms ease-out 200ms;
    transition: width 400ms cubic-bezier(0.7, 0, 0.3, 1) 0ms, transform 400ms cubic-bezier(0.7, 0, 0.3, 1) 0ms, opacity 100ms ease-out 200ms;
}
.navbar-toggle__line-0 {
	width: 16px;
}
.navbar-toggle__line-1 {
	width: 20px;
}
.navbar-toggle__line-2 {
	width: 12px;
}
/*===================
transforms
===================*/
.navbar-brand-container,
.navbar-toggle {
	-webkit-transform: translate(0, 0);
	-moz-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	-o-transform: translate(0, 0);
	transform: translate(0, 0);
}
/*===================
transitions
===================*/
.navbar-brand-container,
.navbar-toggle {
	-webkit-transition: -webkit-transform 500ms cubic-bezier(0.7, 0, 0.3, 1) 0ms;
    -moz-transition: -moz-transform 500ms cubic-bezier(0.7, 0, 0.3, 1) 0ms;
    transition: transform 500ms cubic-bezier(0.7, 0, 0.3, 1) 0ms;
}

/*===================
menu open
===================*/
.menu-open .navbar-brand-container {
	-webkit-transform: translate(0, -20vh) scale(1);
    -moz-transform: translate(0, -20vh) scale(1);
    -ms-transform: translate(0, -20vh) scale(1);
    -o-transform: translate(0, -20vh) scale(1);
    transform: translate(0, -20vh) scale(1);
}
.menu-open .navbar-toggle__line-0 {
	width: 20px !important;
	-webkit-transform: translateY(4px) rotate(-45deg);
	-moz-transform: translateY(4px) rotate(-45deg);
	-ms-transform: translateY(4px) rotate(-45deg);
	-o-transform: translateY(4px) rotate(-45deg);
	transform: translateY(4px) rotate(-45deg);
}
.menu-open .navbar-toggle__line-1 {
	opacity: 0;
}
.menu-open .navbar-toggle__line-2 {
	width: 20px !important;
	-webkit-transform: translateY(-4px) rotate(45deg);
	-moz-transform: translateY(-4px) rotate(45deg);
	-ms-transform: translateY(-4px) rotate(45deg);
	-o-transform: translateY(-4px) rotate(45deg);
	transform: translateY(-4px) rotate(45deg);
} 
/*============================================================================
END OF HEADER
============================================================================*/




















/*============================================================================
MENU
============================================================================*/
.menu {
	position: fixed;
	z-index: 85;
	top: 0;
	left: 0px;
	right: 80px;
	height: 100%;
	background: rgb(255, 255, 255);
}
.menu--hover .menu {
	-webkit-transform: translateX(-95%);
    -moz-transform: translateX(-95%);
    -ms-transform: translateX(-95%);
    -o-transform: translateX(-95%);
    transform: translateX(-95%);
}
.menu-inner-container {
	height: 100%;
	margin: 0;
	padding: 0 40px;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
}
/*===================
switch language
===================*/
.menu-lang-container {
	margin: 40px 0;
	display: flex;
}
/*===================
navigation
===================*/
.menu-nav-container {
	margin: 100px 0 20px -10px;
}
.menu-nav__item-0,
.menu-nav__item-1,
.menu-nav__item-2,
.menu-nav__item-3 {
	overflow: hidden;
}
.menu-nav__item-child {
	position: relative;
	display: block;
}
.menu-nav__item-text-0::before,
.menu-nav__item-text-1::before,
.menu-nav__item-text-2::before,
.menu-nav__item-text-3::before {
	position: absolute;
	z-index: -1;
	top: 50%;
	left: 0px;
	height: 50%;
	width: 100%;
	display: block;
	opacity: 0.5;
	content: "";
}
.menu-nav__item-text-0::before {
	background: rgb(255, 88, 81);
}
.menu-nav__item-text-1::before {
	background: rgb(65, 74, 107);
}
.menu-nav__item-text-2::before {
	background: skyblue;
}
.menu-nav__item-text-3::before {
	background: rgb(243, 193, 48);
}
.menu-nav__item-0:hover .menu-nav__item-text-0::before,
.menu-nav__item-1:hover .menu-nav__item-text-1::before,
.menu-nav__item-2:hover .menu-nav__item-text-2::before,
.menu-nav__item-3:hover .menu-nav__item-text-3::before {
	-webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -ms-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
	-webkit-transform: translateY(-50%) scaleX(1);
    -moz-transform: translateY(-50%) scaleX(1);
    -ms-transform: translateY(-50%) scaleX(1);
    -o-transform: translateY(-50%) scaleX(1);
    transform: translateY(-50%) scaleX(1);
}
.menu-nav__item-text-0,
.menu-nav__item-text-1,
.menu-nav__item-text-2,
.menu-nav__item-text-3 {
	position: relative;
	padding: 0 10px;
}
/*===================
social media icons
===================*/
.menu-social-container {
	margin: 0 0 40px 0;
	display: flex;
}
/*===================
contact
===================*/
.menu-contact-container {
	margin: 40px 0;
	margin-top: auto;
}
.menu-contact__text--highlight {
	color: rgb(255, 88, 81);
}
/*===================
transforms
===================*/
.menu {
	-webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
}
.menu-nav__item-child {
	-webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
}
.menu-nav__item-text-0::before,
.menu-nav__item-text-1::before,
.menu-nav__item-text-2::before,
.menu-nav__item-text-3::before {
	-webkit-transform: translateY(-50%) scaleX(0);
    -moz-transform: translateY(-50%) scaleX(0);
    -ms-transform: translateY(-50%) scaleX(0);
    -o-transform: translateY(-50%) scaleX(0);
    transform: translateY(-50%) scaleX(0);
}
/*===================
transitions
===================*/
.menu {
    -webkit-transition: -webkit-transform 500ms cubic-bezier(1, 0, 0, 1) 0ms, left 500ms cubic-bezier(1, 0, 0, 1) 0ms;
    -moz-transition: -moz-transform 500ms cubic-bezier(1, 0, 0, 1) 0ms, left 500ms cubic-bezier(1, 0, 0, 1) 0ms;
    transition: transform 500ms cubic-bezier(1, 0, 0, 1) 0ms, left 500ms cubic-bezier(1, 0, 0, 1) 0ms;
}
.menu-nav__item-child {
	-webkit-transition: -webkit-transform 800ms cubic-bezier(1, 0, 0, 1) 300ms;
    -moz-transition: -moz-transform 800ms cubic-bezier(1, 0, 0, 1) 300ms;
    transition: transform 800ms cubic-bezier(1, 0, 0, 1) 300ms;
}
.menu-nav__item-text-0::before,
.menu-nav__item-text-1::before,
.menu-nav__item-text-2::before,
.menu-nav__item-text-3::before {
	-webkit-transition: -webkit-transform 400ms cubic-bezier(1, 0, 0, 1) 0ms;
    -moz-transition: -moz-transform 400ms cubic-bezier(1, 0, 0, 1) 0ms;
    transition: transform 400ms cubic-bezier(1, 0, 0, 1) 0ms;
}
/*===================
menu open
===================*/
.menu-open .menu {
	-webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}
.menu-open .menu-nav__item-child {
	-webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}
/*======================================
MENU COLOR
======================================*/
.menu-color {
	visibility: hidden;
	position: fixed;
	z-index: 50;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100%;
	background: rgb(255, 88, 81);
	opacity: 0;
}
.menu-color {
    -webkit-transition: opacity 500ms cubic-bezier(1, 0, 0, 1) 0ms;
    -moz-transition: opacity 500ms cubic-bezier(1, 0, 0, 1) 0ms;
    transition: opacity 500ms cubic-bezier(1, 0, 0, 1) 0ms;
}
.menu-open .menu-color {
	visibility: initial;
	opacity: 0.9;
}
/*============================================================================
END OF MENU
============================================================================*/






















/*============================================================================
APPLICATION
============================================================================*/
/* improving scroll hack */
.page__transition {
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
	-o-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
/* improving scroll hack */
.page__works {
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
	-o-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
/*======================================
HOME SECTION
======================================*/
.page__home {
	position: fixed;
	z-index: 5;
	width: 100vw;
	height: 100%;
	display: flex;
	align-items: center;
	background: rgb(255, 88, 81);
}
.page__home-color {
	position: inherit;
	left: 50%;
	top: 0;
	width: 50%;
	height: inherit;
	background: rgb(248, 248, 248);
}
/*===================
heading
===================*/
.intro-heading {
	position: inherit;
	z-index: 6;
	width: inherit;
	height: inherit;
    display: inherit;
    justify-content: center;
    align-items: inherit;
}
.intro-heading__title {
	position: relative;
	font-size: 10rem;
	text-transform: uppercase;
	margin: 0; /* TEMP */
}
.intro-heading__title-circle {
	position: absolute;
	bottom: 0.2em;
	left: 100%;
	width: 0.2em;
	height: 0.2em;
	border-radius: 50%;
	background: rgb(255, 88, 81);
}
/*===================
article
===================*/
.intro-article {
	font-size: 1.4rem;
	color: rgb(34, 34, 34);
}
.intro-article__heading {
	display: flex;
	align-items: center;
	font-size: 0.7em;
}
.intro-article__heading-line {
	padding: 0;
	background: rgb(34, 34, 34);
}
.intro-article__heading-text {
	opacity: 0;
}
.intro-article__body {
	overflow: hidden;
}
.intro-article__body-text {
	opacity: 0;
	display: inline-block;
}
.intro-article__body-text--color {
	color: rgb(255, 255, 255);
}
/*===================
scrolldown
===================*/
.intro-scrolldown {
	position: fixed;
	left: 50%;
	bottom: 40px;
	opacity: 1;
	color: rgb(255, 255, 255);
	line-height: 1;
	display: flex;
	align-items: center;
	-webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -ms-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}
.intro-scrolldown__arrow-svg {
	fill: rgb(255, 255, 255);
}
/*===================
transform groupings
===================*/
.page__home,
.page__home-color,
.intro-heading {
	-webkit-transform: translate(0, 0) scale(1);
	-moz-transform: translate(0, 0) scale(1);
	-ms-transform: translate(0, 0) scale(1);
	-o-transform: translate(0, 0) scale(1);
	transform: translate(0, 0) scale(1);
}
.intro-heading__title-circle {
	-webkit-transform: translate(50%, -100vh);
    -moz-transform: translate(50%, -100vh);
    -ms-transform: translate(50%, -100vh);
    -o-transform: translate(50%, -100vh);
    transform: translate(50%, -100vh);
}
.balldropped .intro-heading__title-circle {
	-webkit-transform: translate(50%, 0);
    -moz-transform: translate(50%, 0);
    -ms-transform: translate(50%, 0);
    -o-transform: translate(50%, 0);
    transform: translate(50%, 0);
}
.intro-article__body-text {
	-webkit-transform: translateY(200px);
	-moz-transform: translateY(200px);
	-ms-transform: translateY(200px);
	-o-transform: translateY(200px);
	transform: translateY(200px);
}
.intro-scrolldown {
	-webkit-transform: translate(-50%, 0) scale(1) rotate(-90deg);
	-moz-transform: translate(-50%, 0) scale(1) rotate(-90deg);
	-ms-transform: translate(-50%, 0) scale(1) rotate(-90deg);
	-o-transform: translate(-50%, 0) scale(1) rotate(-90deg);
	transform: translate(-50%, 0) scale(1) rotate(-90deg);
}
/*===================
transition groupings
===================*/
.page__home {
	-webkit-transition: -webkit-transform 25ms ease-out 0ms;
    -moz-transition: -moz-transform 25ms ease-out 0ms;
    transition: transform 25ms ease-out 0ms;
}
.page__home-color,
.intro-heading {
	-webkit-transition: -webkit-transform 1000ms cubic-bezier(0.7, 0, 0.3, 1) 0ms;
    -moz-transition: -moz-transform 1000ms cubic-bezier(0.7, 0, 0.3, 1) 0ms;
    transition: transform 1000ms cubic-bezier(0.7, 0, 0.3, 1) 0ms;
}
.intro-article__body-text {
	-webkit-transition: -webkit-transform 1000ms cubic-bezier(0.7, 0, 0.3, 1) 0ms, opacity 500ms linear 600ms;
    -moz-transition: -moz-transform 1000ms cubic-bezier(0.7, 0, 0.3, 1) 0ms, opacity 500ms linear 600ms;
    transition: transform 1000ms cubic-bezier(0.7, 0, 0.3, 1) 0ms, opacity 500ms linear 600ms;
}
.intro-article__heading-line {
	-webkit-transition: padding 500ms cubic-bezier(0.7, 0, 0.3, 1) 250ms;
    -moz-transition: padding 500ms cubic-bezier(0.7, 0, 0.3, 1) 250ms;
    transition: padding 500ms cubic-bezier(0.7, 0, 0.3, 1) 250ms;
}
.intro-article__heading-text {
	-webkit-transition: opacity 500ms cubic-bezier(0.7, 0, 0.3, 1) 300ms;
    -moz-transition: opacity 500ms cubic-bezier(0.7, 0, 0.3, 1) 300ms;
    transition: opacity 500ms cubic-bezier(0.7, 0, 0.3, 1) 300ms;
}
.intro-scrolldown {
	-webkit-transition: -webkit-transform 500ms cubic-bezier(0.7, 0, 0.3, 1) 0ms, opacity 400ms cubic-bezier(0.7, 0, 0.3, 1) 0ms;
    -moz-transition: -moz-transform 500ms cubic-bezier(0.7, 0, 0.3, 1) 0ms, opacity 400ms cubic-bezier(0.7, 0, 0.3, 1) 0ms;
    transition: transform 500ms cubic-bezier(0.7, 0, 0.3, 1) 0ms, opacity 400ms cubic-bezier(0.7, 0, 0.3, 1) 0ms;
}
/*======================================
GAP SPACE SECTION
======================================*/
/* height value corresponds with
javacript object "scroll" */ 
.gap-space {
	height: 250vh;
	visibility: hidden;
}
/*======================================
TRANSITION SECTION
======================================*/
.page__transition {
	position: fixed;
	left:0;
	top:0;
	z-index: 10;
	width: 100%;
	height: 100vh;
	display: none;
}
.page__transition-image {
	width: inherit;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
}
.page__transition-image-dummy {
	display: none !important;
}
/*===================
transform
===================*/
.page__transition {
	-webkit-transform: translate3d(0, 100%, 0) scale(1);
	-moz-transform: translate3d(0, 100%, 0) scale(1);
	-ms-transform: translate3d(0, 100%, 0) scale(1);
	-o-transform: translate3d(0, 100%, 0) scale(1);
	transform: translate3d(0, 100%, 0) scale(1);
}
/*===================
transition
===================*/
.page__transition {
	-webkit-transition: -webkit-transform 25ms ease-out 0ms;
    -moz-transition: -moz-transform 25ms ease-out 0ms;
    transition: transform 25ms ease-out 0ms;
}
/*======================================
WORKS SECTION
======================================*/
.page__works {
	position: relative;
	z-index: 20;
	background: rgb(248, 248, 248);
}
/*===================
title
===================*/
.works-title-container {
	position: relative;
	width: 100%;
	height: 15rem;
	overflow: hidden;
	background: rgb(255, 255, 255);
	display: flex;
	justify-content: center;
	align-items: center;
}
.works-title-container__canvas {
	position: absolute;
	top: 0;
	left: 0;
}
.works-title {
	position: inherit;
	z-index: 21;
	text-align: center;
}
.works-title__heading {

}
.works-title__body {

}
.works-title__body--highlight {
	color: rgb(255, 88, 81);
}
/*===================
works example
===================*/
.works-example {
	width: 80%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 1rem;
}
.works-example__heading {
	font-size: 1.2em;
	align-self: center;
}
.works-example__image-container {
	display: none;
	width: 100%;
}
.works-example__image-container--show {
	display: initial !important;
}
.works-example__image {
	width: 100%;
	height: 100%;
}
.works-example__article {
	display: inherit;
	flex-direction: column;
	align-items: inherit;
}
.works-example__type {

}
.works-example__body {

}
.works-example__button {
	
}
/*======================================
TESTIMONIALS SECTION
======================================*/
.page__testimonials {
	display: none;
}
/*======================================
CONTACT SECTION
======================================*/
.page__contact {
	position: relative;
	z-index: 30;
	background: rgb(248, 248, 248);
	font-size: 1rem;
}
/*===================
title
===================*/
.contact__title-container {
	width: 100%;
	height: 15rem;
	background: rgb(255, 255, 255);
	background: skyblue;
	display: flex;
	justify-content: center;
	align-items: center;
}
.contact__title-woman,
.contact__title-man {
	display: none;
}
.contact__title-text-container {
	text-align: center;
}
.contact__title-heading {

}
.contact__title-heading--highlight {
	color: rgb(255, 88, 81);
}
.contact__title-body {

}
/*===================
info/form container
===================*/
.contact-info-form-container {
	display: flex;
	flex-direction: column;
}
/*===================
info
===================*/
.contact__info {
	flex: 1;
	order: 2;
	display: inherit;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: rgb(248,248,248);
	color: black;
}
.contact__avatar-container {
	width: 75px;
	height: 75px;
}
.contact__avatar {
	width: 100%;
	height: 100%;
	transform: rotate(90deg);
	border-radius: 50%;
}
.contact__name {

}
.contact__descript {

}
.contact__text {

}
.contact__text--highlight {
	color: rgb(255, 88, 81);
}
.contact__social-container {
	display: flex;
}
/*===================
form
===================*/
.contact__form-container {
	width: 100vw;
	flex: 2;
	order: 1;
	display: inherit;
	justify-content: center;
	align-items: center;
}
.contact__form {
	margin: 10%;
	display: inherit;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: inherit;
	-webkit-appearance: none;
    -moz-appearance: none;
	appearance: none;
}
.contact__form-name,
.contact__form-email,
.contact__form-message {
	width: 100%;
	resize: none;
	border-bottom: 2px solid;
	border-color: inherit;
}
.contact__form-text {

}
.contact__form-input {
	width: 100%;
}
.contact__form-button {
	
}
/*============================================================================
END OF APPLICATION
============================================================================*/



















/*============================================================================
LOADER
============================================================================*/
.page {
	visibility: hidden;
}
.loader {
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	background: rgb(255, 88, 81);
	pointer-events: none;
	display: flex;
	justify-content: center;
	align-items: center;
    -webkit-transition: -webkit-transform 1000ms cubic-bezier(1, 0, 0, 1) 0ms;
    -moz-transition: -moz-transform 1000ms cubic-bezier(1, 0, 0, 1) 0ms;
    transition: transform 1000ms cubic-bezier(0.7, 0, 0.3, 1) 0ms;
}
/*======================================
spinner
======================================*/
.loader__brand-name,
.spinner {
	opacity: 0;
	-webkit-transition: opacity 800ms cubic-bezier(1, 0, 0, 1) 0ms;
    -moz-transition: opacity 800ms cubic-bezier(1, 0, 0, 1) 0ms;
    transition: opacity 600ms cubic-bezier(0.7, 0, 0.3, 1) 0ms;
}
.loader__brand-name {
	position: fixed;
  	color: transparent;
 	text-shadow: 0px 2px 3px rgb(255, 88, 81);
 	font-size: 4rem;
 	background-color: rgb(34, 34, 34);
	-webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}
.spinner {
	position: relative;
	width: 200px;
	height: 200px;
}
.spinner__bubble-0,
.spinner__bubble-1,
.spinner__bubble-2 {
	position: absolute;
    top: 0;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: inherit;
    box-shadow: inset 0px 0px 15px rgb(34, 34, 34);
}
.spinner__bubble-1 {
	top: auto;
	bottom: 0;
}
.spinner__bubble-2 {
	top: 50%;
	right: -15%;
	-webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -ms-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}
.load-init .loader__brand-name,
.load-loading .loader__brand-name,
.load-init .spinner,
.load-loading .spinner {
	opacity: 1;
}
/*======================================
initial load
======================================*/
.load-init {
	overflow: hidden;
}
.load-init .loader {
	z-index: 999;
	-webkit-transform: translate(0, 0) scale(1);
    -moz-transform: translate(0, 0) scale(1);
    -ms-transform: translate(0, 0) scale(1);
    -o-transform: translate(0, 0) scale(1);
    transform: translate(0, 0) scale(1);
}
/* position elements off screen */
.load-init .page__home-color,
.load-init .intro-heading {
	-webkit-transform: translate(100%, 0) scale(1);
    -moz-transform: translate(100%, 0) scale(1);
    -ms-transform: translate(100%, 0) scale(1);
    -o-transform: translate(100%, 0) scale(1);
    transform: translate(100%, 0) scale(1);
}
.load-init .intro-scrolldown {
	-webkit-transform: translate(-50%, 100%) scale(1) rotate(-90deg);
    -moz-transform: translate(-50%, 100%) scale(1) rotate(-90deg);
    -ms-transform: translate(-50%, 100%) scale(1) rotate(-90deg);
    -o-transform: translate(-50%, 100%) scale(1) rotate(-90deg);
    transform: translate(-50%, 100%) scale(1) rotate(-90deg);
}
.load-init .navbar-brand-container,
.load-init .navbar-toggle {
	-webkit-transform: translate(0, -20vh) scale(1);
    -moz-transform: translate(0, -20vh) scale(1);
    -ms-transform: translate(0, -20vh) scale(1);
    -o-transform: translate(0, -20vh) scale(1);
    transform: translate(0, -20vh) scale(1);
}
.load-init .border__top,
.load-init .loader,
.load-init .page__home-color,
.load-init .intro-heading,
.load-init .intro-scrolldown,
.load-init .navbar-brand-container,
.load-init .navbar-toggle {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    transition: none !important;
}
/*======================================
loading
======================================*/
.load-loading {
	overflow: hidden;
}
.load-loading .loader {
	z-index: 88;
	-webkit-transform: translate(0, 0) scale(1);
    -moz-transform: translate(0, 0) scale(1);
    -ms-transform: translate(0, 0) scale(1);
    -o-transform: translate(0, 0) scale(1);
    transform: translate(0, 0) scale(1);
}
/*======================================
load complete
======================================*/
.load-complete {
	overflow: initial;
}
.load-complete .loader {
	z-index: 88;
	-webkit-transform: translate(-100%, 0) scale(1);
    -moz-transform: translate(-100%, 0) scale(1);
    -ms-transform: translate(-100%, 0) scale(1);
    -o-transform: translate(-100%, 0) scale(1);
    transform: translate(-100%, 0) scale(1);
}
.load-complete .page {
	visibility: initial;
}
/*============================================================================
END OF LOADER
============================================================================*/
















/*============================================================================
BOARDER
============================================================================*/
.border__top,
.border__bottom,
.border__left,
.border__right {
	position: fixed;
	z-index: 90;
	background: rgb(255, 255, 255);
	pointer-events: none;
    -webkit-transition: -webkit-transform 500ms cubic-bezier(0.7, 0, 0.3, 1) 0ms;
    -moz-transition: -moz-transform 500ms cubic-bezier(0.7, 0, 0.3, 1) 0ms;
    transition: transform 500ms cubic-bezier(0.7, 0, 0.3, 1) 0ms;
}
.border__top,
.border__bottom {
	left: 0;
	width: 100vw;
	height: 20px;
}
.border__left,
.border__right {
	top: 0;
	width: 20px;
	height: 100%;
}
.border__top {
	top: 0;
	-webkit-transform-origin: top center;
    -moz-transform-origin: top center;
    -ms-transform-origin: top center;
    -o-transform-origin: top center;
	transform-origin: top center;
	-webkit-transform: translate(0, -100%) scale(1);
    -moz-transform: translate(0, -100%) scale(1);
    -ms-transform: translate(0, -100%) scale(1);
    -o-transform: translate(0, -100%) scale(1);
    transform: translate(0, -100%) scale(1);
}
.border__bottom {
	bottom: 0;
	-webkit-transform-origin: bottom center;
    -moz-transform-origin: bottom center;
    -ms-transform-origin: bottom center;
    -o-transform-origin: bottom center;
    transform-origin: bottom center;
    -webkit-transform: translate(0, 100%) scale(1);
    -moz-transform: translate(0, 100%) scale(1);
    -ms-transform: translate(0, 100%) scale(1);
    -o-transform: translate(0, 100%) scale(1);
    transform: translate(0, 100%) scale(1);
}
.border__left {
	left: 0;
	-webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -ms-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
    -webkit-transform: translate(-100%, 0) scale(1);
    -moz-transform: translate(-100%, 0) scale(1);
    -ms-transform: translate(-100%, 0) scale(1);
    -o-transform: translate(-100%, 0) scale(1);
    transform: translate(-100%, 0) scale(1);
}
.border__right {
	right: 0;
	-webkit-transform-origin: right center;
    -moz-transform-origin: right center;
    -ms-transform-origin: right center;
    -o-transform-origin: right center;
    transform-origin: right center;
    -webkit-transform: translate(100%, 0) scale(1);
    -moz-transform: translate(100%, 0) scale(1);
    -ms-transform: translate(100%, 0) scale(1);
    -o-transform: translate(100%, 0) scale(1);
    transform: translate(100%, 0) scale(1);
}
/*===================
menu open
===================*/
	.menu-open .border__top,
	.menu-open .border__bottom,
	.menu-open .border__left,
	.menu-open .border__right {
		-webkit-transform: translate(0, 0) scale(1);
	    -moz-transform: translate(0, 0) scale(1);
	    -ms-transform: translate(0, 0) scale(1);
	    -o-transform: translate(0, 0) scale(1);
	    transform: translate(0, 0) scale(1);
	}
/*============================================================================
END OF BOARDER
============================================================================*/













/*============================================================================
ANIMATION KEYFRAME
============================================================================*/
.navbar-scrolldown__arrow,
.intro-scrolldown__arrow {
	-webkit-animation: bounce-down 800ms cubic-bezier(0.7, 0, 0.3, 1) infinite alternate;
    -moz-animation: bounce-down 800ms cubic-bezier(0.7, 0, 0.3, 1) infinite alternate;
    -o-animation: bounce-down 800ms cubic-bezier(0.7, 0, 0.3, 1) infinite alternate;
    animation: bounce-down 800ms cubic-bezier(0.7, 0, 0.3, 1) infinite alternate;
}
@-webkit-keyframes bounce-down {
	0% {
		-webkit-transform: translateX(0);
	}
	100% {
		-webkit-transform: translateX(-8px);
	}
}
@-moz-keyframes bounce-down {
	0% {
		-moz-transform: translateX(0);
	}
	100% {
		-moz-transform: translateX(-8px);
	}
}
@-o-keyframes bounce-down {
	0% {
		-o-transform: translateX(0);
	}
	100% {
		-o-transform: translateX(-8px);
	}
}
@keyframes bounce-down {
	0% {
		transform: translateX(0);
	} 
	100% {
		transform: translateX(-8px);
	}
}
.balldrop .intro-heading__title-circle {
	-webkit-animation: balldrop 1100ms 1 550ms forwards;
    -moz-animation: balldrop 1100ms 1 550ms forwards;
    -o-animation: balldrop 1100ms 1 550ms forwards;
    animation: balldrop 1100ms 550ms forwards;
}
@-webkit-keyframes balldrop {
	0% {
		-webkit-transform: translate(50%, -100vh);
		-webkit-animation-timing-function: ease-in;
	}
	35% {
		-webkit-transform: translate(50%, 0);
		-webkit-animation-timing-function: ease-out;
		height: 0.17em;
	}
	45% {
		-webkit-transform: translate(50%, -50px);
		-webkit-animation-timing-function: ease-in;
		height: 0.2em;
	}
	56% {
		-webkit-transform: translate(50%, 0);
		-webkit-animation-timing-function: ease-out;
		height: 0.18em;
	}
	62% {
		-webkit-transform: translate(50%, -25px);
		-webkit-animation-timing-function: ease-in;
		height: 0.2em;
	}
	68% {
		-webkit-transform: translate(50%, 0);
		-webkit-animation-timing-function: ease-out;
		height: 0.19em;
	}
	70% {
		-webkit-transform: translate(50%, -2px);
		-webkit-animation-timing-function: ease-in;
		height: 0.2em;
	}
	83% {
		-webkit-transform: translate(50%, 0);
	}
	100% {
		-webkit-transform: translate(50%, 0);
	}
}
@-moz-keyframes balldrop {
	0% {
		-moz-transform: translate(50%, -100vh);
		-moz-animation-timing-function: ease-in;
	}
	35% {
		-moz-transform: translate(50%, 0);
		-moz-animation-timing-function: ease-out;
		height: 0.17em;
	}
	45% {
		-moz-transform: translate(50%, -50px);
		-moz-animation-timing-function: ease-in;
		height: 0.2em;
	}
	56% {
		-moz-transform: translate(50%, 0);
		-moz-animation-timing-function: ease-out;
		height: 0.18em;
	}
	62% {
		-moz-transform: translate(50%, -25px);
		-moz-animation-timing-function: ease-in;
		height: 0.2em;
	}
	68% {
		-moz-transform: translate(50%, 0);
		-moz-animation-timing-function: ease-out;
		height: 0.19em;
	}
	70% {
		-moz-transform: translate(50%, -2px);
		-moz-animation-timing-function: ease-in;
		height: 0.2em;
	}
	83% {
		-moz-transform: translate(50%, 0);
	}
	100% {
		-moz-transform: translate(50%, 0);
	}
}
@-o-keyframes balldrop {
	0% {
		-o-transform: translate(50%, -100vh);
		animation-timing-function: ease-in;
	}
	35% {
		-o-transform: translate(50%, 0);
		-o-animation-timing-function: ease-out;
		height: 0.17em;
	}
	45% {
		-o-transform: translate(50%, -50px);
		-o-animation-timing-function: ease-in;
		height: 0.2em;
	}
	56% {
		-o-transform: translate(50%, 0);
		-o-animation-timing-function: ease-out;
		height: 0.18em;
	}
	62% {
		-o-transform: translate(50%, -25px);
		-o-animation-timing-function: ease-in;
		height: 0.2em;
	}
	68% {
		-o-transform: translate(50%, 0);
		-o-animation-timing-function: ease-out;
		height: 0.19em;
	}
	70% {
		-o-transform: translate(50%, -2px);
		-o-animation-timing-function: ease-in;
		height: 0.2em;
	}
	83% {
		-o-transform: translate(50%, 0);
	}
	100% {
		-o-transform: translate(50%, 0);
	}
}
@keyframes balldrop {
	0% {
		transform: translate(50%, -100vh);
		animation-timing-function: ease-in;
	}
	35% {
		transform: translate(50%, 0);
		animation-timing-function: ease-out;
		height: 0.17em;
	}
	45% {
		transform: translate(50%, -50px);
		animation-timing-function: ease-in;
		height: 0.2em;
	}
	56% {
		transform: translate(50%, 0);
		animation-timing-function: ease-out;
		height: 0.18em;
	}
	62% {
		transform: translate(50%, -25px);
		animation-timing-function: ease-in;
		height: 0.2em;
	}
	68% {
		transform: translate(50%, 0);
		animation-timing-function: ease-out;
		height: 0.19em;
	}
	70% {
		transform: translate(50%, -2px);
		animation-timing-function: ease-in;
		height: 0.2em;
	}
	83% {
		transform: translate(50%, 0);
	}
	100% {
		transform: translate(50%, 0);
	}
}
.contact__title-trigger .contact__title-woman-typing,
.contact__title-trigger .contact__title-man-typing,
.contact__title-trigger .contact__typing-dot-0,
.contact__title-trigger .contact__typing-dot-1,
.contact__title-trigger .contact__typing-dot-2 {
	-webkit-animation: 20s ease infinite 800ms;
    -moz-animation: 20s ease infinite 800ms;
    -o-animation: 20s ease infinite 800ms;
    animation: 20s ease infinite 800ms;
}
.contact__title-trigger .contact__title-woman-typing {
	-webkit-animation-name: woman-typing;
	-moz-animation-name: woman-typing;
	-o-animation-name: woman-typing;
	animation-name: woman-typing;
}
@-webkit-keyframes woman-typing {
	5%, 25%, 45% {
		-webkit-transform: translateY(0) rotate(0.0001deg);
		opacity: 1;
	}
	15%, 35% {
		-webkit-transform: translateY(-2%) rotate(0.0001deg);
	}
	50% {
		-webkit-transform: translateY(25%) rotate(0.0001deg);
		opacity: 0;
	}
}
@-moz-keyframes woman-typing {
	5%, 25%, 45% {
		-moz-transform: translateY(0) rotate(0.0001deg);
		opacity: 1;
	}
	15%, 35% {
		-moz-transform: translateY(-2%) rotate(0.0001deg);
	}
	50% {
		-moz-transform: translateY(25%) rotate(0.0001deg);
		opacity: 0;
	}
}
@-o-keyframes woman-typing {
	5%, 25%, 45% {
		-o-transform: translateY(0) rotate(0.0001deg);
		opacity: 1;
	}
	15%, 35% {
		-o-transform: translateY(-2%) rotate(0.0001deg);
	}
	50% {
		-o-transform: translateY(25%) rotate(0.0001deg);
		opacity: 0;
	}
}
@keyframes woman-typing {
	5%, 25%, 45% {
		transform: translateY(0) rotate(0.0001deg);
		opacity: 1;
	}
	15%, 35% {
		transform: translateY(-2%) rotate(0.0001deg);
	}
	50% {
		transform: translateY(25%) rotate(0.0001deg);
		opacity: 0;
	}
}
.contact__title-trigger .contact__title-man-typing {
	-webkit-animation-name: man-typing;
	-moz-animation-name: man-typing;
	-o-animation-name: man-typing;
	animation-name: man-typing;
}
@-webkit-keyframes man-typing {
	50% {
		-webkit-transform: translateY(25%) rotate(0.0001deg);
		opacity: 0;
	}
	55%, 75%, 95% {
		-webkit-transform: translateY(0) rotate(0.0001deg);
		opacity: 1;
	}
	65%, 85% {
		-webkit-transform: translateY(-2%) rotate(0.0001deg);
	}
}
@-moz-keyframes man-typing {
	50% {
		-moz-transform: translateY(25%) rotate(0.0001deg);
		opacity: 0;
	}
	55%, 75%, 95% {
		-moz-transform: translateY(0) rotate(0.0001deg);
		opacity: 1;
	}
	65%, 85% {
		-moz-transform: translateY(-2%) rotate(0.0001deg);
	}
}
@-o-keyframes man-typing {
	50% {
		-o-transform: translateY(25%) rotate(0.0001deg);
		opacity: 0;
	}
	55%, 75%, 95% {
		-o-transform: translateY(0) rotate(0.0001deg);
		opacity: 1;
	}
	65%, 85% {
		-o-transform: translateY(-2%) rotate(0.0001deg);
	}
}
@keyframes man-typing {
	50% {
		transform: translateY(25%) rotate(0.0001deg);
		opacity: 0;
	}
	55%, 75%, 95% {
		transform: translateY(0) rotate(0.0001deg);
		opacity: 1;
	}
	65%, 85% {
		transform: translateY(-2%) rotate(0.0001deg);
	}
}
.contact__title-trigger .contact__typing-dot-0 {
    -webkit-animation-name: typing-bounce-one;
    -moz-animation-name: typing-bounce-one;
    -o-animation-name: typing-bounce-one;
    animation-name: typing-bounce-one;
}
@-webkit-keyframes typing-bounce-one {
	3%, 48%, 53%, 98% {
		-webkit-transform: translate(500px, 0);
	}
	5%, 15%, 25%, 35%, 45%, 55%, 65%, 75%, 85%, 95% {
		-webkit-transform: translate(0,0);
		opacity: 1;
	}
	10%, 30%, 60%, 80% {
		opacity: 0.4;
	}
}
@-moz-keyframes typing-bounce-one {
	3%, 48%, 53%, 98% {
		-moz-transform: translate(500px, 0);
	}
	5%, 15%, 25%, 35%, 45%, 55%, 65%, 75%, 85%, 95% {
		-moz-transform: translate(0,0);
		opacity: 1;
	}
	10%, 30%, 60%, 80% {
		opacity: 0.4;
	}
}
@-o-keyframes typing-bounce-one {
	3%, 48%, 53%, 98% {
		-o-transform: translate(500px, 0);
	}
	5%, 15%, 25%, 35%, 45%, 55%, 65%, 75%, 85%, 95% {
		-o-transform: translate(0,0);
		opacity: 1;
	}
	10%, 30%, 60%, 80% {
		opacity: 0.4;
	}
}
@keyframes typing-bounce-one {
	3%, 48%, 53%, 98% {
		transform: translateX(500px);
	}
	5%, 15%, 25%, 35%, 45%, 55%, 65%, 75%, 85%, 95% {
		transform: translateX(0);
		opacity: 1;
	}
	10%, 30%, 60%, 80% {
		opacity: 0.4;
	}
}
.contact__title-trigger .contact__typing-dot-2 {
	-webkit-animation-name: typing-bounce-three;
    -moz-animation-name: typing-bounce-three;
    -o-animation-name: typing-bounce-three;
    animation-name: typing-bounce-three;
}
@-webkit-keyframes typing-bounce-three {
	3%, 48%, 53%, 98% {
		-webkit-transform: translate(500px, 0);
	}
	5%, 10%, 20%, 30%, 40%, 45%, 55%, 60%, 70%, 80%, 90%, 95% {
		-webkit-transform: translate(0,0);
		opacity: 1;
	}
	15%, 35%, 65%, 85% {
		opacity: 0.4;
	}
}
@-moz-keyframes typing-bounce-three {
	3%, 48%, 53%, 98% {
		-moz-transform: translate(500px, 0);
	}
	5%, 10%, 20%, 30%, 40%, 45%, 55%, 60%, 70%, 80%, 90%, 95% {
		-moz-transform: translate(0,0);
		opacity: 1;
	}
	15%, 35%, 65%, 85% {
		opacity: 0.4;
	}
}
@-o-keyframes typing-bounce-three {
	3%, 48%, 53%, 98% {
		-o-transform: translate(500px, 0);
	}
	5%, 10%, 20%, 30%, 40%, 45%, 55%, 60%, 70%, 80%, 90%, 95% {
		-o-transform: translate(0,0);
		opacity: 1;
	}
	15%, 35%, 65%, 85% {
		opacity: 0.4;
	}
}
@keyframes typing-bounce-three {
	3%, 48%, 53%, 98% {
		transform: translateX(500px);
	}
	5%, 10%, 20%, 30%, 40%, 45%, 55%, 60%, 70%, 80%, 90%, 95% {
		transform: translateX(0);
		opacity: 1;
	}
	15%, 35%, 65%, 85% {
		opacity: 0.4;
	}
}
.contact__title-trigger .contact__typing-dot-1 {
	-webkit-animation-name: typing-bounce-two;
    -moz-animation-name: typing-bounce-two;
    -o-animation-name: typing-bounce-two;
    animation-name: typing-bounce-two;
}
@-webkit-keyframes typing-bounce-two {
	3%, 48%, 53%, 98% {
		-webkit-transform: translate(500px, 0);
	}
	5%, 15%, 25%, 35%, 45%, 55%, 65%, 75%, 85%, 95% {
		-webkit-transform: translate(0,0);
		opacity: 1;
	}
	20%, 40%, 70%, 90% {
		opacity: 0.4;
	}
}
@-moz-keyframes typing-bounce-two {
	3%, 48%, 53%, 98% {
		-moz-transform: translate(500px, 0);
	}
	5%, 15%, 25%, 35%, 45%, 55%, 65%, 75%, 85%, 95% {
		-moz-transform: translate(0,0);
		opacity: 1;
	}
	20%, 40%, 70%, 90% {
		opacity: 0.4;
	}
}
@-o-keyframes typing-bounce-two {
	3%, 48%, 53%, 98% {
		-o-transform: translate(500px, 0);
	}
	5%, 15%, 25%, 35%, 45%, 55%, 65%, 75%, 85%, 95% {
		-o-transform: translate(0,0);
		opacity: 1;
	}
	20%, 40%, 70%, 90% {
		opacity: 0.4;
	}
}
@keyframes typing-bounce-two {
	3%, 48%, 53%, 98% {
		transform: translateX(500px);
	}
	5%, 15%, 25%, 35%, 45%, 55%, 65%, 75%, 85%, 95% {
		transform: translateX(0);
		opacity: 1;
	}
	20%, 40%, 70%, 90% {
		opacity: 0.4;
	}
}
.load-init .spinner,
.load-loading .spinner {
	animation: spinning 2s linear infinite;
}
@-webkit-keyframes spinning {
	100% {
		-webkit-transform: rotate(360deg);
	}
}
@-moz-keyframes spinning {
	100% {
		-moz-transform: rotate(360deg);
	}
}
@-o-keyframes spinning {
	100% {
		-o-transform: rotate(360deg);
	}
}
@keyframes spinning {
	100% {
		transform: rotate(360deg);
	}
}
.load-init .spinner__bubble-0,
.load-loading .spinner__bubble-0 {
	animation: bubble 2s ease-in-out infinite;

}
.load-init .spinner__bubble-1,
.load-loading .spinner__bubble-1 {
	animation: bubble 2s ease-in-out infinite -1s;
}
.load-init .spinner__bubble-2,
.load-loading .spinner__bubble-2 {
	animation: bubble 2s ease-in-out infinite -500ms;
}
@-webkit-keyframes bubble {
	0%, 100% {
		-webkit-transform: scale(0);
	}
	50% {
		-webkit-transform: scale(1);
	}
}
@-moz-keyframes bubble {
	0%, 100% {
		-moz-transform: scale(0);
	}
	50% {
		-moz-transform: scale(1);
	}
}
@-o-keyframes bubble {
	0%, 100% {
		-o-transform: scale(0);
	}
	50% {
		-o-transform: scale(1);
	}
}
@keyframes bubble {
	0%, 100% {
		transform: scale(0);
	}
	50% {
		transform: scale(1);
	}
}
/*============================================================================
END OF ANIMATION KEYFRAME
============================================================================*/















/*============================================================================
MEDIA QUERY
============================================================================*/
@media only screen and (min-width: 767px) {
/*======================================
HEADER
======================================*/
.header {
	position: fixed;
	z-index: 100;
	left: 0;
	top: 0;
	font-size: 0.7rem; /* global font size for header units, use em(s) to assign child values */
}
/*===================
brand name
===================*/
.navbar-brand-container {
	position: inherit;
	left: 0;
	top: 0;
	height: 40px;
	margin: 0 0 0 40px;
	display: flex;
	align-items: center;
}
/*===================
menu icon
===================*/
.navbar-toggle {
	position: inherit;
	left: 0;
	top: 50%;
	width: 40px;
	height: 40px;
	background: none;
	border-radius: 0;
}
.navbar-toggle__line-container {
	position: absolute;
	left: 25%;
	top: 50%;
	width: 20px;
	height: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
}
.navbar-toggle:hover .navbar-toggle__line-0 {
	width: 20px;
}
.navbar-toggle:hover .navbar-toggle__line-1 {
	width: 26px;
}
.navbar-toggle:hover .navbar-toggle__line-2 {
	width: 16px;
}
.navbar-toggle__text-container {
	position: absolute;
	left: 0.3rem;
	top: 50%;
	width: 100%;
	display: initial;
	text-align: center;
	text-transform: uppercase;
	white-space: nowrap;
}
.navbar-toggle__text-0,
.navbar-toggle__text-1,
.navbar-toggle__text-2,
.navbar-toggle__text-3 {
	display: inline-block;
}
/*===================
switch language
===================*/
.navbar-lang-container {
	position: inherit;
	right: 0;
	top: 0;
	height: 40px;
	margin: 0 40px 0 0;
	padding: 0;
	display: flex;
	align-items: center;
	-webkit-transform-origin: right top;
    -moz-transform-origin: right top;
    -ms-transform-origin: right top;
    -o-transform-origin: right top;
    transform-origin: right top;
}
/*===================
social media icons
===================*/
.navbar-social-container {
	position: inherit;
	top: 50%;
	right: 0;
	width: 40px;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	-webkit-transform-origin: right top;
    -moz-transform-origin: right top;
    -ms-transform-origin: right top;
    -o-transform-origin: right top;
    transform-origin: right top;
}
/*===================
scrolldown
===================*/
.navbar-scrolldown {
	position: inherit;
	left: 40px;
	bottom: -100px;
	height: 40px;
	opacity: 1;
	color: rgb(34, 34, 34);
	line-height: 1;
	display: flex;
	align-items: center;
	-webkit-transform-origin: left top;
    -moz-transform-origin: left top;
    -ms-transform-origin: left top;
    -o-transform-origin: left top;
    transform-origin: left top;
}
.navbar-scrolldown__arrow-svg {
	fill: rgb(34, 34, 34);
}
/*===================
scrolltop
===================*/
.navbar-scrolltop {
	position: inherit;
	right: 40px;
	bottom: -140px;
	height: 40px;
	opacity: 1;
	color: rgb(34, 34, 34);
    line-height: 1;
    display: flex;
	align-items: center;
}
.navbar-scrolltop__arrow-svg {
	fill: rgb(34, 34, 34);
}
/*===================
transforms
===================*/
.navbar-scrolldown {
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
}
.navbar-scrolltop {
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}
.navbar-toggle {
	-webkit-transform: translate(20px, -50%);
	-moz-transform: translate(20px, -50%);
	-ms-transform: translate(20px, -50%);
	-o-transform: translate(20px, -50%);
	transform: translate(20px, -50%);
}
.navbar-toggle__line-container,
.navbar-social-container {
	-webkit-transform: translate(0, -50%);
	-moz-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	-o-transform: translate(0, -50%);
	transform: translate(0, -50%);
}
.navbar-toggle__text-container {
	-webkit-transform: translate(50%, -50%) rotate(-90deg);
	-moz-transform: translate(50%, -50%) rotate(-90deg);
	-ms-transform: translate(50%, -50%) rotate(-90deg);
	-o-transform: translate(50%, -50%) rotate(-90deg);
	transform: translate(50%, -50%) rotate(-90deg);
}
.navbar-toggle:hover .navbar-toggle__text-0 {
	-webkit-transform:translateY(-5px);
	-moz-transform: translateY(-5px);
	-ms-transform: translateY(-5px);
	-o-transform: translateY(-5px);
	transform: translateY(-5px);
}
.navbar-toggle:hover .navbar-toggle__text-1 {
	-webkit-transform: translateY(5px);
	-moz-transform: translateY(5px);
	-ms-transform: translateY(5px);
	-o-transform: translateY(5px);
	transform: translateY(5px);
}
.navbar-toggle:hover .navbar-toggle__text-2 {
	-webkit-transform: translateY(-4px);
	-moz-transform: translateY(-4px);
	-ms-transform: translateY(-4px);
	-o-transform: translateY(-4px);
	transform: translateY(-4px);
}
.navbar-toggle:hover .navbar-toggle__text-3 {
	-webkit-transform: translateY(2px);
	-moz-transform: translateY(2px);
	-ms-transform: translateY(2px);
	-o-transform: translateY(2px);
	transform: translateY(2px);
}
/*===================
transitions
===================*/
.navbar-scrolldown,
.navbar-scrolltop {
    -webkit-transition: bottom 400ms cubic-bezier(0.7, 0, 0.3, 1) 0ms, opacity 250ms linear 0ms;
    -moz-transition: bottom 400ms cubic-bezier(0.7, 0, 0.3, 1) 0ms, opacity 250ms linear 0ms;
    transition: bottom 400ms cubic-bezier(0.7, 0, 0.3, 1) 0ms, opacity 250ms linear 0ms;
}
.navbar-toggle__text-container {
	-webkit-transition: opacity 200ms ease-out 0ms;
    -moz-transition: opacity 200ms ease-out 0ms;
    transition: opacity 200ms ease-out 0ms;
}
.navbar-toggle__text-0,
.navbar-toggle__text-1,
.navbar-toggle__text-2,
.navbar-toggle__text-3 {
	-webkit-transition: -webkit-transform 400ms cubic-bezier(0.7, 0, 0.3, 1) 0ms;
    -moz-transition: -moz-transform 400ms cubic-bezier(0.7, 0, 0.3, 1) 0ms;
    transition: transform 400ms cubic-bezier(0.7, 0, 0.3, 1) 0ms;
}
.navbar-lang-container,
.navbar-social-container {
	-webkit-transition: -webkit-transform 500ms cubic-bezier(0.7, 0, 0.3, 1) 0ms;
    -moz-transition: -moz-transform 500ms cubic-bezier(0.7, 0, 0.3, 1) 0ms;
    transition: transform 500ms cubic-bezier(0.7, 0, 0.3, 1) 0ms;
}
/*===================
menu open
===================*/
.menu-open .navbar-brand-container {
	-webkit-transform: translate(40px, 40px);
    -moz-transform: translate(40px, 40px);
    -ms-transform: translate(40px, 40px);
    -o-transform: translate(40px, 40px);
    transform: translate(40px, 40px);
}
.menu-open .navbar-toggle {
	-webkit-transform: translate(60px, -50%);
    -moz-transform: translate(60px, -50%);
    -ms-transform: translate(60px, -50%);
    -o-transform: translate(60px, -50%);
    transform: translate(60px, -50%);
}
.menu-open .navbar-toggle__text-container {
	opacity: 0;
}
.menu-open .navbar-lang-container {
    -webkit-transform: translate(-40px, 40px);
    -moz-transform: translate(-40px, 40px);
    -ms-transform: translate(-40px, 40px);
    -o-transform: translate(-40px, 40px);
    transform: translate(-40px, 40px);
}
.menu-open .navbar-social-container {
    -webkit-transform: translate(-20px, -50px);
    -moz-transform: translate(-20px, -50px);
    -ms-transform: translate(-20px, -50px);
    -o-transform: translate(-20px, -50px);
    transform: translate(-20px, -50%);
}
.menu-open .navbar-scrolldown,
.menu-open .navbar-scrolltop,
.menu--hover .navbar-scrolldown,
.menu--hover .navbar-scrolltop {
	opacity: 0;
}


















/*======================================
MENU
======================================*/
.menu {
	left: 40px;
	right: 20%;
}
.menu-inner-container {
	padding: 0;
	padding-left: calc(16vw - 40px);
	justify-content: center;
}
.menu-lang-container,
.menu-social-container {
	display: none;
}
/*===================
navigation
===================*/
.menu-nav-container {
	margin: 0;
}
/*===================
contact
===================*/
.menu-contact-container {
	margin: 0;
}



















/*======================================
APPLICATION
======================================*/

/*===================
page section
===================*/
.page {
	margin: 0 40px;
}
.load-complete .page {
	margin: 40px;
}
.page {
	-webkit-transition: -webkit-transform 1000ms cubic-bezier(1, 0, 0, 1) 0ms;
    -moz-transition: -moz-transform 1000ms cubic-bezier(1, 0, 0, 1) 0ms;
    transition: margin 1000ms cubic-bezier(0.7, 0, 0.3, 1) 0ms;
}
/*===================
home section
===================*/
.intro-scrolldown {
	bottom: 80px;
}
/*===================
works section
===================*/
.works-example {
	width: 100%;
	flex-direction: row;
}
.works-example__heading {
	align-self: center;
}
.works-example__image-container {
	display: initial;
	position: relative;
	width: 50%;
	max-height: 500px;
	overflow-y: hidden;
}
.works-example__image-container--show {
	display: none !important;
}
.works-example__image {
	position: relative;
	top: 0;
	left: 0;
	max-width: 100%;
	height: auto;
	-webkit-transition: -webkit-transform 25ms ease-out 0ms;
    -moz-transition: -moz-transform 25ms ease-out 0ms;
    transition: transform 25ms ease-out 0ms;
}
.works-example__article {
	flex: 1;
}
.works-example__image-container--left,
.works-example__article--right {
	order: 1;
}
.works-example__image-container--right,
.works-example__article--left {
	order: 2;
}
/*===================
contact section
===================*/
.page__contact {
}
.contact-info-form-container {
	flex-direction: row;
	flex-wrap: wrap;
}
.contact__info {
	order: 1;
}
.contact__form-container {
	order: 2;
}








/*===================
borders
===================*/
.load-loading .border__top,
.load-loading .border__bottom,
.load-loading .border__left,
.load-loading .border__right,
.load-complete .border__top,
.load-complete .border__bottom,
.load-complete .border__left,
.load-complete .border__right {
		-webkit-transform: translate(0, 0) scale(1);
	    -moz-transform: translate(0, 0) scale(1);
	    -ms-transform: translate(0, 0) scale(1);
	    -o-transform: translate(0, 0) scale(1);
	    transform: translate(0, 0) scale(1);
	}
	.border__top,
	.border__bottom {
		height: 40px;
	}
	.border__left,
	.border__right {
		width: 40px;
	}
/*===================
menu open
===================*/
	.menu-open .border__top,
	.menu-open .border__bottom,
	.menu-open .border__left,
	.menu-open .border__right {
		-webkit-transform: translate(0, 0) scale(2);
	    -moz-transform: translate(0, 0) scale(2);
	    -ms-transform: translate(0, 0) scale(2);
	    -o-transform: translate(0, 0) scale(2);
	    transform: translate(0, 0) scale(2);
	}












/*======================================
LOADER
======================================*/
/*===================
initial load
===================*/
/* position elements off screen */
.load-init .navbar-toggle {
	-webkit-transform: translate(-20vw, -50%);
    -moz-transform: translate(-20vw, -50%);
    -ms-transform: translate(-20vw, -50%);
    -o-transform: translate(-20vw, -50%);
    transform: translate(-20vw, -50%);
}
.load-init .navbar-lang-container {
	-webkit-transform: translate(0, -20vh);
    -moz-transform: translate(0, -20vh);
    -ms-transform: translate(0, -20vh);
    -o-transform: translate(0, -20vh);
    transform: translate(0, -20vh);
}
.load-init .navbar-social-container {
	-webkit-transform: translate(20vw, -50%);
    -moz-transform: translate(20vw, -50%);
    -ms-transform: translate(20vw, -50%);
    -o-transform: translate(20vw, -50%);
    transform: translate(20vw, -50%);
}
.load-init .navbar-lang-container,
.load-init .navbar-social-container {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    transition: none !important;
}
/*======================================
END OF LOADER
======================================*/













}
/*============================================================================
END OF MEDIA QUERY
============================================================================*/









/*============================================================================
MEDIA QUERY
============================================================================*/
@media only screen and (min-width: 1000px) {


.contact__title-container {
	justify-content: space-around;
	overflow: hidden;
}
.contact__title-woman,
.contact__title-man {
	height: 50%;
	display: flex;
}
.contact__title-woman-svg,
.contact__title-man-svg  {
	height: 100%;
}
.contact__title-woman-typing,
.contact__title-man-typing {
	opacity: 0;
	position: relative;
}
.contact__title-woman-typing-svg,
.contact__title-man-typing-svg {
	position: absolute;
	height: 40%;
	overflow: hidden;
	background-color: skyblue; /* Safari animation glitch fix */
	-webkit-transform-origin: top left;
    -moz-transform-origin: top left;
    -ms-transform-origin: top left;
    -o-transform-origin: top left;
	transform-origin: top left;
}
/*===================
transforms
===================*/
.contact__title-woman {
	-webkit-transform: translateX(-75vw);
    -moz-transform: translateX(-75vw);
    -ms-transform: translateX(-75vw);
    -o-transform: translateX(-75vw);
    transform: translateX(-75vw);
}
.contact__title-man {
	-webkit-transform: translateX(75vw);
    -moz-transform: translateX(75vw);
    -ms-transform: translateX(75vw);
    -o-transform: translateX(75vw);
    transform: translateX(75vw);
}
.contact__title-woman-typing,
.contact__title-man-typing {
	-webkit-transform: translateY(25%) rotate(0.0001deg);
    -moz-transform: translateY(25%) rotate(0.0001deg);
    -ms-transform: translateY(25%) rotate(0.0001deg);
    -o-transform: translateY(25%) rotate(0.0001deg);
    transform: translateY(25%) rotate(0.0001deg);
}
.contact__title-man-typing-svg {
	-webkit-transform: scale(-1, 1);
    -moz-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    transform: scale(-1, 1);
}
.contact__title-trigger .contact__typing-dot-0,
.contact__title-trigger .contact__typing-dot-1,
.contact__title-trigger .contact__typing-dot-2 {
	-webkit-transform: translateX(500px);
    -moz-transform: translateX(500px);
    -ms-transform: translateX(500px);
    -o-transform: translateX(500px);
	transform: translateX(500px);
}
.contact__title-trigger .contact__title-woman,
.contact__title-trigger .contact__title-man {
	-webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}
/*===================
transitions
===================*/
.contact__title-woman,
.contact__title-man {
	-webkit-transition: -webkit-transform 1000ms cubic-bezier(0.7, 0, 0.3, 1) 0ms;
    -moz-transition: -moz-transform 1000ms cubic-bezier(0.7, 0, 0.3, 1) 0ms;
    transition: transform 1000ms cubic-bezier(0.7, 0, 0.3, 1) 0ms;
}



}
/*============================================================================
END OF MEDIA QUERY
============================================================================*/
































