/* 
FONTS 

title--
font-family: 'Montserrat', sans-serif;

sentense--
font-family: 'Libre Baskerville', serif;
*/


/* 
COLORS

primary--
rgb(255, 88, 81)

white--
rgb(255, 255, 255)

offwhite--
rgb(248, 248, 248)

black
rgb(34, 34, 34)
black v2
rgb(28, 27, 32)


grey
rgb(186, 188, 193)

p font--
rgb(96, 96, 96)

blue--
rgb(65, 74, 107)
*/


/*
HIDE
*/
.menu {
	display: none;
}
/*
END HIDE
*/



/*======================================
GLOBAL RULES
======================================*/
h1,h2,h3,h4,h5,h6,p,span,a,li,div,input {
	font-family: 'Montserrat', sans-serif;
	list-style: none;
}
.button {
	padding: 1em;
	font-size: 1em;
	color: inherit;
	border: 0.2em solid;
	border-color: inherit;
	text-decoration: none;
}





/*============================================================================
HEADER
============================================================================*/




/*======================================
HEADER
======================================*/
.header {
	position: fixed;
	z-index: 100;
	left: 0;
	top: 0;
}
/*===================
brand name
===================*/
.navbar-brand-container {
	position: inherit;
	left: 0;
	top: 0;
	height: 40px;
	margin: 0 0 0 40px;
	display: flex;
	align-items: center;
}
/*===================
menu icon
===================*/
.navbar-toggle {
	position: inherit;
	left: 0;
	top: 50%;
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.navbar-toggle__line-container {
	position: absolute;
	width: 50%;
	height: 25%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
}
.navbar-toggle__line-0,
.navbar-toggle__line-1,
.navbar-toggle__line-2 {
	background: rgb(34, 34, 34);
	height: 2px;
}
.navbar-toggle__line-0 {
	width: 16px;
}
.navbar-toggle__line-1 {
	width: 19px;
}
.navbar-toggle__line-2 {
	width: 12px;
}
.navbar-toggle__text-container {
	position: absolute;
	left: 25px;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	white-space: nowrap;
}
/*===================
switch language
===================*/
.navbar-lang-container {
	position: inherit;
	right: 0;
	top: 0;
	height: 40px;
	margin: 0 40px 0 0;
	padding: 0;
	display: flex;
	align-items: center;
	-webkit-transform-origin: right top;
    -moz-transform-origin: right top;
    -ms-transform-origin: right top;
    -o-transform-origin: right top;
    transform-origin: right top;
}
/*===================
social media icons
===================*/
.navbar-social-container {
	position: inherit;
	top: 50%;
	right: 0;
	width: 40px;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	-webkit-transform-origin: right top;
    -moz-transform-origin: right top;
    -ms-transform-origin: right top;
    -o-transform-origin: right top;
    transform-origin: right top;
}
/*===================
scrolldown
===================*/
.navbar-scrolldown {
	position: inherit;
	left: 40px;
	bottom: 0px;
	height: 40px;
	opacity: 1;
	color: rgb(34, 34, 34);
	line-height: 1;
	display: flex;
	align-items: center;
	-webkit-transform-origin: left top;
    -moz-transform-origin: left top;
    -ms-transform-origin: left top;
    -o-transform-origin: left top;
    transform-origin: left top;
}
.navbar-scrolldown__arrow-svg {
	fill: rgb(34, 34, 34);
}
/*===================
scrolltop
===================*/
.navbar-scrolltop {
	position: inherit;
	right: 40px;
	bottom: 40px;
	height: 40px;
	color: rgb(34, 34, 34);
    line-height: 1;
    display: flex;
	align-items: center;
}
.navbar-scrolltop__arrow-svg {
	fill: rgb(34, 34, 34);
}
/*===================
transforms
===================*/
.navbar-toggle__text-container,
.navbar-scrolldown {
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
}
.navbar-scrolltop {
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}
.navbar-toggle {
	-webkit-transform: translate(20px, -50%);
	-moz-transform: translate(20px, -50%);
	-ms-transform: translate(20px, -50%);
	-o-transform: translate(20px, -50%);
	transform: translate(20px, -50%);
}
.navbar-social-container {
	-webkit-transform: translate(0, -50%);
	-moz-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	-o-transform: translate(0, -50%);
	transform: translate(0, -50%);
}
/*===================
transitions
===================*/
.navbar-scrolldown {
    -webkit-transition: bottom 400ms cubic-bezier(0.7, 0, 0.3, 1) 0ms, opacity 250ms linear 0ms;
    -moz-transition: bottom 400ms cubic-bezier(0.7, 0, 0.3, 1) 0ms, opacity 250ms linear 0ms;
    transition: bottom 400ms cubic-bezier(0.7, 0, 0.3, 1) 0ms, opacity 250ms linear 0ms;
}






/*============================================================================
APPLICATION
============================================================================*/
/* information:

*/



/*======================================
HOME SECTION
======================================*/
.page__home {
	position: fixed;
	z-index: 5;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	background: rgb(255, 88, 81);
}
.page__home-color {
	position: inherit;
	left: 50%;
	top: 0;
	width: 50%;
	height: inherit;
	background: rgb(248, 248, 248);
}
/*===================
heading
===================*/
.intro-heading {
	position: inherit;
	z-index: 6;
	width: 100%;
    display: inherit;
    justify-content: center;
}
.intro-heading__title {
	font-size: 10rem;
	text-transform: uppercase;
}
/*===================
article
===================*/
.intro-article {
	font-size: 1.4rem;
	color: rgb(34, 34, 34);
}
.intro-article__heading {
	display: flex;
	align-items: center;
	font-size: 0.7em;
}
.intro-article__heading-line {
	padding: 0;
	background: rgb(34, 34, 34);
}
.intro-article__heading-text {
	opacity: 0;
}
.intro-article__body {
	position: relative;
}
.intro-article__body-blocker {
	position: absolute;
	width: 100%;
	height: 102%;
	background: rgb(255, 88, 81);
}
.intro-article__body--color {
	color: rgb(255, 255, 255);
}
/*===================
scrolldown
===================*/
.intro-scrolldown {
	position: fixed;
	left: 50%;
	bottom: 80px;
	opacity: 1;
	color: rgb(255, 255, 255);
	line-height: 1;
	display: flex;
	align-items: center;
	-webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -ms-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}
.intro-scrolldown__arrow-svg {
	fill: rgb(255, 255, 255);
}
/*===================
transform groupings
===================*/
.page__home,
.page__home-color,
.intro-heading,
.intro-article__body-blocker {
	-webkit-transform: translate(0, 0) scale(1);
	-moz-transform: translate(0, 0) scale(1);
	-ms-transform: translate(0, 0) scale(1);
	-o-transform: translate(0, 0) scale(1);
	transform: translate(0, 0) scale(1);
}
.intro-article__body {
	-webkit-transform: translate(0, 50%) scale(1);
	-moz-transform: translate(0, 50%) scale(1);
	-ms-transform: translate(0, 50%) scale(1);
	-o-transform: translate(0, 50%) scale(1);
	transform: translate(0, 50%) scale(1);
}
.intro-scrolldown {
	-webkit-transform: translate(-50%, 0) scale(1) rotate(-90deg);
	-moz-transform: translate(-50%, 0) scale(1) rotate(-90deg);
	-ms-transform: translate(-50%, 0) scale(1) rotate(-90deg);
	-o-transform: translate(-50%, 0) scale(1) rotate(-90deg);
	transform: translate(-50%, 0) scale(1) rotate(-90deg);
}
/*===================
transition groupings
===================*/
.page__home {
	-webkit-transition: -webkit-transform 25ms ease-out 0ms;
    -moz-transition: -moz-transform 25ms ease-out 0ms;
    transition: transform 25ms ease-out 0ms;
}
.page__home-color,
.intro-heading {
	-webkit-transition: -webkit-transform 500ms cubic-bezier(0.7, 0, 0.3, 1) 0ms;
    -moz-transition: -moz-transform 500ms cubic-bezier(0.7, 0, 0.3, 1) 0ms;
    transition: transform 500ms cubic-bezier(0.7, 0, 0.3, 1) 0ms;
}
.intro-article__body,
.intro-article__body-blocker {
	-webkit-transition: -webkit-transform 500ms cubic-bezier(0.7, 0, 0.3, 1) 500ms;
    -moz-transition: -moz-transform 500ms cubic-bezier(0.7, 0, 0.3, 1) 500ms;
    transition: transform 250ms cubic-bezier(0.7, 0, 0.3, 1) 500ms;
}
.intro-article__heading-line {
	-webkit-transition: padding 500ms cubic-bezier(0.7, 0, 0.3, 1) 50ms;
    -moz-transition: padding 500ms cubic-bezier(0.7, 0, 0.3, 1) 50ms;
    transition: padding 500ms cubic-bezier(0.7, 0, 0.3, 1) 50ms;
}
.intro-article__heading-text {
	-webkit-transition: opacity 500ms cubic-bezier(0.7, 0, 0.3, 1) 100ms;
    -moz-transition: opacity 500ms cubic-bezier(0.7, 0, 0.3, 1) 100ms;
    transition: opacity 500ms cubic-bezier(0.7, 0, 0.3, 1) 100ms;
}
.intro-scrolldown {
	-webkit-transition: -webkit-transform 200ms cubic-bezier(0.7, 0, 0.3, 1) 0ms, opacity 50ms cubic-bezier(0.7, 0, 0.3, 1) 0ms;
    -moz-transition: -moz-transform 200ms cubic-bezier(0.7, 0, 0.3, 1) 0ms, opacity 50ms cubic-bezier(0.7, 0, 0.3, 1) 0ms;
    transition: transform 200ms cubic-bezier(0.7, 0, 0.3, 1) 0ms, opacity 50ms cubic-bezier(0.7, 0, 0.3, 1) 0ms;
}








/*======================================
GAP SPACE SECTION
======================================*/
/* height value corresponds with
javacript object "scroll" */ 
.gap-space {
	height: 250vh;
	visibility: hidden;
}




/*======================================
TRANSITION SECTION
======================================*/
.page__transition {
	position: fixed;
	left:0;
	top:0;
	z-index: 10;
	display: none;
}
.page__transition-image {
	width: 100vw;
	height: 100vh;
}
.page__transition-image {
	background-image: url("https://www.walldevil.com/wallpapers/w02/778324-blondes-brunettes-emilie-voe-nereng-norwegian-teeth-women.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}
/*===================
transform
===================*/
.page__transition {
	-webkit-transform: translate3d(0, 100%, 0) scale(1);
	-moz-transform: translate3d(0, 100%, 0) scale(1);
	-ms-transform: translate3d(0, 100%, 0) scale(1);
	-o-transform: translate3d(0, 100%, 0) scale(1);
	transform: translate3d(0, 100%, 0) scale(1);
}
/*===================
transition
===================*/
.page__transition {
	-webkit-transition: -webkit-transform 25ms ease-out 0ms;
    -moz-transition: -moz-transform 25ms ease-out 0ms;
    transition: transform 25ms ease-out 0ms;
}




/*======================================
WORKS SECTION
======================================*/
.page__works {
	position: relative;
	z-index: 20;
	background: rgb(248, 248, 248);
}
/*===================
title
===================*/
.works-title-container {
	position: relative;
	width: 100%;
	height: 15rem;
	overflow: hidden;
	background: rgb(255, 255, 255);
	display: flex;
	justify-content: center;
	align-items: center;
}
.works-title-container__canvas {
	position: absolute;
	top:0;
	left: 0;
}
.works-title {
	position: inherit;
	z-index: 21;
	text-align: center;
}
.works-title__heading {

}
.works-title__body {

}
.works-title__body--highlight {
	color: rgb(255, 88, 81);
}
/*===================
works example
===================*/
.works-example {
	width: 80%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 1rem;
}
.works-example__heading {
	font-size: 1.2em;
	align-self: center;
}
.works-example__image-container {
	width: 100%;
}
.works-example__image {
	width: 100%;
	height: 100%;
}
.works-example__article {
	display: inherit;
	flex-direction: column;
	align-items: inherit;

}
.works-example__type {

}
.works-example__body {

}
.works-example__button {
	
}
.works-example__heading--hidden {

}
.works-example__heading--show {
	display: none;

}




/*======================================
TESTIMONIALS SECTION
======================================*/
.page__testimonials {
	display: none;
}




/*======================================
CONTACT SECTION
======================================*/
.page__contact {
	position: relative;
	z-index: 30;
	background: rgb(248, 248, 248);
	font-size: 1rem;
}
/*===================
title
===================*/
.contact__title-container {
	width: 100%;
	height: 15rem;
	background: rgb(255, 255, 255);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.contact__title-heading {

}
.contact__title-heading--highlight {
	color: rgb(255, 88, 81);
}
.contact__title-body {

}
/*===================
info/form container
===================*/
.contact-info-form-container {
	display: flex;
	flex-direction: column;
}
/*===================
info
===================*/
.contact__info {
	flex: 1;
	order: 2;
	display: inherit;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: url("http://mikedekker.com/wp-content/themes/mike-dekker/images/pattern_1.png") rgb(248,248,248);
	color: black;
}
.contact__avatar-container {
	width: 75px;
	height: 75px;
}
.contact__avatar {
	width: 100%;
	height: 100%;
	transform: rotate(90deg);
	border-radius: 50%;
}
.contact__name {

}
.contact__descript {

}
.contact__button {

}
/*===================
form
===================*/
.contact__form-container {
	flex: 2;
	order: 1;
	display: inherit;
	justify-content: center;
	align-items: center;
}
.contact__form {
	display: inherit;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: inherit;
	-webkit-appearance: none;
    -moz-appearance: none;
	appearance: none;
}
.contact__form-name {
	width: 45%;
}
.contact__form-email {
	width: 45%;
}
.contact__form-message {
	width: 100%;
	resize: none;
}
.contact__form-button {
	margin: 0 auto;
}
.contact__form-name,
.contact__form-email,
.contact__form-message {
	border-bottom: 2px solid;
	border-color: inherit;
}
.contact__form-email {
	-webkit-appearance: none;
    -moz-appearance: none;
	appearance: none;
}






/*============================================================================
END OF APPLICATION
============================================================================*/











/*======================================
BORDERS 
======================================*/
.border__top,
.border__bottom,
.border__left,
.border__right {
	position: fixed;
	z-index: 90;
	background: rgb(255, 255, 255);
	pointer-events: none;
    -webkit-transition: -webkit-transform 500ms cubic-bezier(0.7, 0, 0.3, 1) 0ms;
    -moz-transition: -moz-transform 500ms cubic-bezier(0.7, 0, 0.3, 1) 0ms;
    transition: transform 500ms cubic-bezier(0.7, 0, 0.3, 1) 0ms;
}
.border__top,
.border__bottom {
	left: 0;
	width: 100%;
	height: 40px;
}
.border__left,
.border__right {
	top: 0;
	width: 40px;
	height: 100%;
}
.border__top {
	top: 0;
	-webkit-transform-origin: top center;
    -moz-transform-origin: top center;
    -ms-transform-origin: top center;
    -o-transform-origin: top center;
	transform-origin: top center;
	-webkit-transform: translate(0, -100%) scale(1);
    -moz-transform: translate(0, -100%) scale(1);
    -ms-transform: translate(0, -100%) scale(1);
    -o-transform: translate(0, -100%) scale(1);
    transform: translate(0, -100%) scale(1);
}
.border__bottom {
	bottom: 0;
	-webkit-transform-origin: bottom center;
    -moz-transform-origin: bottom center;
    -ms-transform-origin: bottom center;
    -o-transform-origin: bottom center;
    transform-origin: bottom center;
    -webkit-transform: translate(0, 100%) scale(1);
    -moz-transform: translate(0, 100%) scale(1);
    -ms-transform: translate(0, 100%) scale(1);
    -o-transform: translate(0, 100%) scale(1);
    transform: translate(0, 100%) scale(1);
}
.border__left {
	left: 0;
	-webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -ms-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
    -webkit-transform: translate(-100%, 0px) scale(1);
    -moz-transform: translate(-100%, 0px) scale(1);
    -ms-transform: translate(-100%, 0px) scale(1);
    -o-transform: translate(-100%, 0px) scale(1);
    transform: translate(-100%, 0px) scale(1);
}
.border__right {
	right: 0;
	-webkit-transform-origin: right center;
    -moz-transform-origin: right center;
    -ms-transform-origin: right center;
    -o-transform-origin: right center;
    transform-origin: right center;
    -webkit-transform: translate(100%, 0px) scale(1);
    -moz-transform: translate(100%, 0px) scale(1);
    -ms-transform: translate(100%, 0px) scale(1);
    -o-transform: translate(100%, 0px) scale(1);
    transform: translate(100%, 0px) scale(1);
}










/*======================================
ANIMATION KEYFRAMES
======================================*/
.navbar-scrolldown__arrow,
.intro-scrolldown__arrow {
	-webkit-animation: bounce-down 800ms cubic-bezier(0.7, 0, 0.3, 1) infinite alternate;
    -moz-animation: bounce-down 800ms cubic-bezier(0.7, 0, 0.3, 1) infinite alternate;
    animation: bounce-down 800ms cubic-bezier(0.7, 0, 0.3, 1) infinite alternate;
}
@-webkit-keyframes bounce-down {
	0% {
		-webkit-transform: translateX(0);
	}
	100% {
		-webkit-transform: translateX(-8px);
	}
}
@-moz-keyframes bounce-down {
	0% {
		-moz-transform: translateX(0);
	}
	100% {
		-moz-transform: translateX(-8px);
	}
}
@-o-keyframes bounce-down {
	0% {
		-o-transform: translateX(0);
	}
	100% {
		-o-transform: translateX(-8px);
	}
}
@keyframes bounce-down {
	0% {
		transform: translateX(0);
	} 
	100% {
		transform: translateX( -8px);
	}
}





/*======================================
MEDIA QUERY
======================================*/
@media only screen and (min-width: 767px) {


/*===================
page section
===================*/
.page {
	margin: 40px;
}
/*===================
works section
===================*/
.works-example {
	width: 100%;
	flex-direction: row;
}
.works-example__heading {
	align-self: center;
}
.works-example__image {
	width: 50vw;
}
.works-example__image-container--left,
.works-example__article--right {
	order: 1;
}
.works-example__image-container--right,
.works-example__article--left {
	order: 2;
}
/*===================
contact section
===================*/
.page__contact {
}
.contact-info-form-container {
	flex-direction: row;
	flex-wrap: wrap;
}
.contact__info {
	order: 1;
}
.contact__form-container {
	order: 2;
}
/*===================
borders
===================*/
	.border__top,
	.border__bottom,
	.border__left,
	.border__right {
		-webkit-transform: translate(0, 0) scale(1);
	    -moz-transform: translate(0, 0) scale(1);
	    -ms-transform: translate(0, 0) scale(1);
	    -o-transform: translate(0, 0) scale(1);
	    transform: translate(0, 0) scale(1);
	}


}



















































