svg.contact-side__paperplane-svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 464 464')
	path.contact-side__paperplane-svg--color(d='M232 0l-56 416L17.3 459.3c-6.7 1.8-12.4-5.1-9.3-11.3L232 0z')
	path.contact-side__paperplane-svg--color(d='M232 0l56 416 158.7 43.3c6.7 1.8 12.4-5.1 9.3-11.3L232 0z')
	polygon.contact-side__paperplane-svg--color(points='232 0 232 435 298 416')
	polygon.contact-side__paperplane-svg--color(points='232 0 166 416 232 435')