<!DOCTYPE html>
<html lang="en-US">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Juma Stevens: Web Developer</title>
		
		<link rel="stylesheet" type="text/css" href="example_1/css/style.css">
		<link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

	</head>
	<body>
		<div id="wrapper">
			<!-- SECTIONS -->
			<section id="home">
				<h1>juma stevens<br><span>web developer</span></h1>
			</section>

			<section id="about">
				<div id="aboutContent">
					<h3>Hello,<br><span>Who am I?</span></h3>
					<p><u>This website functions as a portfolio example.</u> I’m an American front-end web developer currently based in Portland, Oregon. I build carefully-crafted, intuitive, and adaptive websites and applications using HTML, CSS, and Javascript. All helping to improve the user experience, drive sales, and boost profitability. As a web developer in an ever-evolving field, I work hard to stay in touch with emerging technologies, and design trends. If you have any projects or opportunities, please get in touch!</p>
				</div>
				<div id="aboutList">
					<ul>
						<h3>Toolbox</h3>
						<li>HTML</li>
						<li>CSS</li>
						<li>JavaScript</li>
						<li>Node.js</li>
					</ul>
					<ul>
						<h3>Contact</h3>
						<li><a href="mailto:jumastevens@gmail.com?subject=Hello Juma">jumastevens@gmail.com</a></li>
						<li><a href="tel:+1-555-555-5555">555-555-5555</a></li>
					</ul>
				</div>
				<ul id="aboutSocial">
					<li><a href="https://github.com/JumaStevens" target="_blank">github</a></li>
					<li><a href="https://www.linkedin.com/in/juma-stevens-05730b138/" target="_blank">linkedin</a></li>
					<li><a href="https://www.instagram.com/jumastevens/" target="_blank">instagram</a></li>
				</ul>
			</section>

			<section id="portfolio">
				<ul id="portfolioUl">
					<li>
						<figure>
							<img src="example_1/images/portfolio/portrait/portrait1.jpg">
							<img src="example_1/images/portfolio/portrait/portrait2.jpg">
							<img src="example_1/images/portfolio/portrait/portrait3.jpg">
							<img src="example_1/images/portfolio/portrait/portrait4.jpg">
							<figcaption>
								Portraits<br><span>- faces of tomorrow past</span>
							</figcaption>
							<p><span>THE CHALLENGE:</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
							<br><br>
							<span>THE SOLUTION:</span> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
							<br><br>
							Photography | Lighting | Model</p>
						</figure>
					</li>
					<li>
						<figure>
							<img src="example_1/images/portfolio/animal/animal1.jpg">
							<img src="example_1/images/portfolio/animal/animal2.jpg">
							<img src="example_1/images/portfolio/animal/animal3.jpg">
							<img src="example_1/images/portfolio/animal/animal4.jpg">
							<img src="example_1/images/portfolio/animal/animal5.jpg">
							<figcaption>
								Animals<br><span>- when wild, we are free</span>
							</figcaption>
							<p><span>THE CHALLENGE:</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
							<br><br>
							<span>THE SOLUTION:</span> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
							<br><br>
							Animals | Lighting | Black Backdrop</p>
						</figure>
					</li>
					<li>
						<figure>
							<img src="example_1/images/portfolio/fitness/fitness1.jpg">
							<img src="example_1/images/portfolio/fitness/fitness2.jpg">
							<img src="example_1/images/portfolio/fitness/fitness3.jpg">
							<img src="example_1/images/portfolio/fitness/fitness4.jpg">
							<img src="example_1/images/portfolio/fitness/fitness5.jpg">
							<figcaption>
								Fitness<br><span>- health over wealth</span>
							</figcaption>
							<p><span>THE CHALLENGE:</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
							<br><br>
							<span>THE SOLUTION:</span> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
							<br><br>
							Models | Muscle | Goals</p>
						</figure>
					</li>
				</ul>
			</section>

			<section id="journal">
				<ul id="journalUl">
					<li id="journal001">
						<figure>
							<img src="example_1/images/journal/journal1.jpg">
							<figcaption>Messina</figcaption>
						</figure>
					</li>
					<li id="journal002">
						<figure>
							<img src="example_1/images/journal/journal2.jpg">
							<figcaption>Ryan</figcaption>
						</figure>
					</li>
					<li id="journal003">
						<figure>
							<img src="example_1/images/journal/journal3.jpg">
							<figcaption>Sunflower</figcaption>
						</figure>
					</li>
					<li id="journal008">
						<figure>
							<h3>Travel Far</h3>
							<figcaption>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</figcaption>
						</figure>
					</li>
					<li id="journal004">
						<figure>
							<img src="example_1/images/journal/journal4.jpg">
							<figcaption>Kendell</figcaption>
						</figure>
					</li>
					<li id="journal005">
						<figure>
							<img src="example_1/images/journal/journal5.jpg">
							<figcaption>Youth</figcaption>
						</figure>
					</li>
					<li id="journal006">
						<figure>
							<img src="example_1/images/journal/journal6.jpg">
							<figcaption>World View</figcaption>
						</figure>
					</li>
					<li id="journal007">
						<figure>
							<img src="example_1/images/journal/journal7.jpg">
							<figcaption>Travis</figcaption>
						</figure>
					</li>
				</ul>
			</section>

			<!-- NAVIGATION -->
			<nav id="nav"></nav>

			<!-- ORIENTATION CHANGE -->
			<div id="orientation">
				<p>Turn your device<br><span>horizontally</span></p>
			<div>

			<!-- JAVASCRIPT OFF -->
			<noscript>
				<p>Please <a href="https://www.google.com/search?q=how+to+enable+javascript+in+my+browser" target="_blank">enable</a> Javascript and <a href="https://www.jumastevens.com/example_1">refresh</a> your browser to continue...</p>
			</noscript>
		</div>

		<script src="example_1/js/script.js"></script>
	</body>
</html>