<!DOCTYPE html>
<html lang="en-US">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Digital Agency</title>

		<link rel="stylesheet" type="text/css" href="sass/1-base/_normalize.css">
		<link rel="stylesheet" type="text/css" href="../example_0/css/style.css">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway" rel="stylesheet">
	</head>
	<body>
		<!-- LOGO & NAVIGATION -->
		<header>
			<h1>
				<span>_</span>advent<span>_</span>
			</h1>
			<nav>
				<figure id="hamburger-icon">
					<canvas width="40" height="40"></canvas>
					<canvas width="40" height="40"></canvas>
					<canvas width="40" height="40"></canvas>
				</figure>
				<ul>
					<li><a href="#about">about</a></li>
					<li><a href="#works">works</a></li>
					<li><a href="#offers">offers</a></li>
					<li><a href="#talents">talents</a></li>
					<li><a href="#contact">contact</a></li>
				</ul>
			</nav>
		</header>
		<!-- HOME -->
		<section id="home">
			<div id="home__rec-0" class="white_fill"></div>
			<div id="home__rec-1" class="blue_fill" ></div>
			<article class="banner">
				<div class="banner__inner-wrapper0">
					<aside class="banner__copy banner_copy-transform">Welcome to advent</aside>
				</div>
				<div class="banner__inner">
					<p class="banner__copy">We are everyone&apos;s<br>
						<span class="banner__copy banner__copy-bold">digital agency</span>
					</p>
					<div>
						<a class="pop">&rarr; get in touch</a>
					</div>
				</div>
			</article>
			<figure id="mouse-icon">
				<canvas width="40" height="40"></canvas>
				<canvas width="40" height="40"></canvas>
			</figure>
		</section>
		<!-- ABOUT -->
		<section id="about">
			<div id="about__content">
				<article id="about__text">
					<h3>Helping brands to<br><span>Achieve success _</span></h3>
					<aside>
						<q>Advent deliveried more than what I expected to achieve. From the first meeting to the last, they catered to my business goals. I can't wait to work with them again!</q>
						<p> james anderson, <span>CEO</span></p>
					</aside>
					<p>Advent is a full-service digital agency that believes being a Favorite brand is more valuable than just being a Famous one. <br><br>We craft beautifully useful, connected ecosystems that grow businesses and build enduring relationships between brands and humans.</p>
				</article>
				<div id="about__images">
					<div id="about__img-0" class="img-container">
						<img src="example_0/images/about_0.jpg" alt="">
						<div id="about__rec-0" class="white_fill"></div>
					</div>
					<div id="about__img-1" class="img-container">
						<img src="example_0/images/about_1.jpg" alt="">
						<div id="about__rec-1" class="white_fill"></div>
					</div>
				</div>
			</div>
			<ul>
				<li>
					<figure id="gear-icon">
						<canvas width="40" height="40"></canvas>
						<canvas width="40" height="40"></canvas>
						<canvas width="40" height="40"></canvas>
						<canvas width="40" height="40"></canvas>
						<canvas width="40" height="40"></canvas>
						<canvas width="40" height="40"></canvas>
						<canvas width="40" height="40"></canvas>
						<canvas width="40" height="40"></canvas>
						<canvas width="40" height="40"></canvas>
					</figure>
					<div>
						<h4>_<br>flexible</h4>
						<p>Whatever your business needs may be, we have the team and expertise to deliver truely the best.</p>
					</div>
				</li>
				<li>
					<figure id="plane-icon">
						<canvas width="40" height="40"></canvas>
					</figure>
					<div>
						<h4>_<br>multipurpose</h4>
						<p>Need to revamp your print campaign? We can help. Need a new website? Let's built it.</p>
					</div>
				</li>
				<li>
					<figure id="computer-icon">
						<canvas width="40" height="40"></canvas>
						<canvas width="40" height="40"></canvas>
						<canvas width="40" height="40"></canvas>
					</figure>
					<div>
						<h4>_<br>responsive</h4>
						<p>All our digital products fits the need of the largest audience possible by being full responsive.</p>
					</div>
				</li>
			</ul>
		</section>
		<!-- WORKS -->
		<section id="works">
			<article>
				<figure class="img-container">
					<img id="works__main_img">
					<div id="works__rec-0" class="white_fill">
						<figcaption>
							<p></p>
							<p></p>
						</figcaption>
					</div>
				</figure>
				<!-- headphone work -->
				<div>
					<h3>Read the case study<br><span>MovoAudio _</span></h3>
					<p>After a successful decade as a category disruptor centered on cost-effective audio, an increase in competition and the need for continued growth drove MovoAudio to expand into new CE product lines. To win in these new segments, where consumers are more brand-conscious, MovoAudio needed to elevate its brand perception.</p>
					<a class="pop"><span>&rarr;</span> read more</a>
				</div>
				<!-- spirit work -->
				<div>
					<h3>Read the case study<br><span>PapaBarrel _</span></h3>
					<p>PapaBarrel has long been known as the best way to buy the finest spirits online. However, to remain competitive in a crowded space, the brand needed to boost advertiser value by expanding its business beyond the one-and-done nature of most online transactions.</p>
					<a class="pop"><span>&rarr;</span> read more</a>
				</div>
				<!-- watch work -->
				<div>
					<h3>Read the case study<br><span>MavaWatch _</span></h3>
					<p>Working with innovative challenger watchmaker MavaWatch, we architected, developed and launched an international rebrand, marketing and ecommerce platform that influenced not only the design of the brand, but the product itself.</p>
					<a class="pop"><span>&rarr;</span> read more</a>
				</div>
				<!-- headphone 2 work -->
				<div>	
					<h3>Read the case study<br><span>LoganSound _</span></h3>
					<p>We created a connected, digital ecosystem for LoganSound where every touch point was designed to evoke the tactile in-store experience of handling the equipment up close. This not only drove users towards retail, but also underscored LoganSound innovation through interactions that were as streamlined and sophisticated as the products themselves.</p>
					<a class="pop"><span>&rarr;</span> read more</a>
				</div>
			</article>
			<ul class="works-img-slide">
				<li>
					<div></div>
					<img src="example_0/images/works_0.jpg" alt="">
				</li>
				<li>
					<div></div>
					<img src="example_0/images/works_1.jpg" alt="">
				</li>
				<li>
					<div></div>
					<img src="example_0/images/works_2.jpg" alt="">
				</li>
				<li>
					<div></div>
					<img src="example_0/images/works_3.jpg" alt="">
				</li>
			</ul>
		</section>
		<!-- OFFERS -->
		<section id="offers">
			<div id="offers__content-wrapper">
				<div id="offers__background">
					<div></div>
				</div>
				<article>
					<h3>We Maintain Great &amp; Optimum Results _</h3>
					<p>From our roots in Silicon Valley to our current headquarters in Silicon Beach and offices across the country, we’ve remained true to our mission: to build enduring bonds between brands and humans. We set to be a better agency, and that is still our vision.</p>
					<a class="pop">&rarr; get in touch</a>
				</article>
			</div>
			<ul id="offers__list">
				<li>
					<figure id="printer-icon">
						<canvas width="40" height="40"></canvas>
						<canvas width="40" height="40"></canvas>
						<canvas width="40" height="40"></canvas>
						<canvas width="40" height="40"></canvas>
						<canvas width="40" height="40"></canvas>
						<canvas width="40" height="40"></canvas>
					</figure>
					<figcaption>
						<h4>_<br>print media</h4>
						<p>High quality is the name of the game when it comes to paper products. You can trust us to deliver.</p>
					</figcaption>
				</li>
				<li>
					<figure id="paint-brush-icon">
						<canvas width="40" height="40"></canvas>
						<canvas width="40" height="40"></canvas>
					</figure>
					<figcaption>
						<h4>_<br>graphic design</h4>
						<p>Pixel perfect design anyone? We take our digital products very serious.</p>
					</figcaption>
				</li>
				<li>
					<figure id="camera-icon">
						<canvas width="40" height="40"></canvas>
						<canvas width="40" height="40"></canvas>
						<canvas width="40" height="40"></canvas>
						<canvas width="40" height="40"></canvas>
						<canvas width="40" height="40"></canvas>
						<canvas width="40" height="40"></canvas>
					</figure>
					<figcaption>
						<h4>_<br>photography</h4>
						<p>A picture tells a thousand words, lets make sure it's the right ones that reflect your brand.</p>
					</figcaption>
				</li>
			</ul>
		</section>
		<!-- TALENTS -->
		<section id="talents">
			<div id="talents-wrapper">
				<ul id="talents-icons">
					<li>
						<img src="example_0/images/talents_0.jpg" alt="">
						<div></div>
						<p>Designer</p>
					</li>
					<li>
						<img src="example_0/images/talents_1.jpg" alt="">
						<div></div>
						<p>Developer</p>
					</li>
					<li>
						<img src="example_0/images/talents_2.jpg" alt="">
						<div></div>
						<p>Copywriter</p>
					</li>
					<li>
						<img src="example_0/images/talents_3.jpg" alt="">
						<div></div>
						<p>Marketer</p>
					</li>
				</ul>
				<article>
					<h3><!-- insert role ex. "Designer" --></h3>
					<h3></h3>
					<h4>_<br>profile</h4>
					<!-- designer copy -->
					<p>Adam has 20 years of interactive expertise helping clients succeed online. He joined Merkle from Hearst Corporation, where he served as CEO of Core Audience (Hearst's trading desk and DMP platform), as well as Chief Strategy Officer of iCrossing (Hearst’s digital marketing agency). Adam ran both corporate strategy and all client-related strategic services for iCrossing.</p>
					<!-- developer copy -->
					<p>In Michael’s role as chief operating officer for Nerkle’s Digital Agency group, he is accountable for business operations and financial performance across the operating group, with deep focus on client delivery and the teams and capabilities that support it. He also plays a key role in supporting the integration of Nerkle’s digital services acquisitions.</p>
					<!-- copywriter copy -->
					<p>Angelina currently oversees Merkle’s Media Platforms &amp; Operations team, and is a seasoned executive with 20+ years of digital media, marketing and operations experience. She has focused her career in defining, building, managing and improving the digital media planning, buying &amp; operations capabilities for organizations.</p>
					<!-- marketer copy -->
					<p>Gerry Javaro is senior VP, Enterprise Solutions Group, where he oversees the planning and development of innovative marketing and media solutions that leverage CRM data, programmatic technologies, cross-channel performance media strategies and advanced analytics. Additionally, he leads Merkle's global partnerships.</p>
					<h4 id="talents-skillset-header">_<br>skills</h4>
					<ul id="talents-skillset">
						<li>
							<div></div>
							<p>photoshop cc</p>
						</li>
						<li>
							<div></div>
							<p>html/css</p>
						</li>
						<li>
							<div></div>
							<p>wordpress</p>
						</li>
					</ul>
				</article>
			</div>
			<div id="talents-clients">
				<div>
					<figure id="paper-icon">
						<canvas width="40" height="40"></canvas>
						<canvas width="40" height="40"></canvas>
						<canvas width="40" height="40"></canvas>
						<canvas width="40" height="40"></canvas>
						<canvas width="40" height="40"></canvas>
						<canvas width="40" height="40"></canvas>
						<canvas width="40" height="40"></canvas>
						<canvas width="40" height="40"></canvas>
					</figure>
					<figcaption>
						<h4>_<br>what clients say</h4>
						<p>We have worked with clients from around the world and back.</p>
					</figcaption>
				</div>
				<ul id="talents-testimonials">
					<li>
						<div class="image-cropper">
							<img src="example_0/images/client_0.jpg" alt="">
						</div>
						<q>This team went above and beyond anything my company could have hoped for. Everything from, keeping me informed on the progress of the project, to really coming up with business strategies that I am now seeing a huge return on. I highly recommend this team.<br><span> andrew hilton</span></q>
					</li>
					<li>
						<div class="image-cropper">
							<img src="example_0/images/client_1.jpg" alt="">
						</div>
						<q>From the very beginning I knew this experience was not going to be like the rest of digital agencies I have worked with. I felt my input really had value, and the quality of the design and functionality that this team delivered was top notch.<br><span> jane gresham</span></q>
					</li>
					<li>
						<div class="image-cropper">
							<img src="example_0/images/client_2.jpg" alt="">
						</div>
						<q>I desperately needed to update my website for the mobile-first customer base that I was missing out on. This company surpassed my greatest dreams of what could be possible. I look forward to our continued relationship.<br><span> marcus smith</span></q>
					</li>
				</ul>
				<div id=up-down-arrows>
					<a>&larr;</a>
					<a>&rarr;</a>
				</div>
			</div>
		</section>
		<!-- CONTACT -->
		<section id="contact">
			<form id="contact-form" action="#contact">
				<h3>Send message _</h3>
				<input type="text" name="name" placeholder="Your Name">
				<input type="email" name="email-address" placeholder="Email Address">
				<textarea type="text" name="message" placeholder="Message"></textarea>
				<input class="pop" type="submit" value="&rarr; submit">
			</form>
			<ul id="contact-list">
				<div id="contact-background-img"><div><!-- blue fill --></div></div>
				<li>
					<h4>_<br>location</h4>
					<p>411 SW 22th Ave, Portland, OR 97207, US</p>
				</li>
				<li>
					<h4>_<br>email</h4>
					<p>contact@advent.com</p>
				</li>
				<li>
					<h4>_<br>phone</h4>
					<p>(555) 431-8080</p>
				</li>
			</ul>
			<ul id="contact-social">
				<li>
					<h4>_<br>connect</h4>
				</li>
				<li>
					<a href="https://github.com/JumaStevens" target="_blank">github</a>
				</li>
				<li>
					<a href="https://www.linkedin.com/in/juma-stevens-05730b138/" target="_blank">linkedin</a>
				</li>
				<li>
					<a href="https://www.instagram.com/jumastevens/" target="_blank">instagram</a>
				</li>
			</ul>
		</section>
		<!-- FOOTER -->
		<footer>
			<p>Developed by <a href="http://www.jumastevens.com" rel="author" target="_blank">Juma Stevens</a></p>
		</footer>

		<!-- POPUP -->
		<div id="popup">
			<article>
				<h6>Thank you for viewing my mock site.</h6>
				<p>This website functions as a live example for my web development portfolio. This is a mobile-first, responsive design website that would be an excellent fit for a small business. If you are interested in having a website built for your needs, please contact me. Thank you for your time!</p>
				<div>
					<a href='http//:www.jumastevens.com' rel='external'>www.jumastevens.com</a>
				</div>
				<div>
					<a class="pop" id="popup__button">close</a>
				</div>
				<aside>*All photographs are for demonstration purposes only. All rights reserved to the content owner(s).</aside>
			</article>
		</div>


		<!-- SCRIPT(S) -->

		<script src="example_0/js/script.js"></script>
	</body>
</html>