.contact
	+mq-tablet
		transition: transform 500ms $bezier 500ms
	&.open
		+mq-tablet
			transform: translateX(100%)
			transition: transform 500ms $bezier 0ms

	&-side-container
		+mq-tablet
			box-shadow: 0px 0px 0px rgba(34, 34, 34, 0.4)
			transition: box-shadow 250ms $bezier
		&.sending
			+mq-tablet
				box-shadow: -18px 18px 10px rgba(34, 34, 34, 0.3)
				transition: box-shadow 500ms $bezier 500ms

	&-side
		+mq-tablet
			transition: transform 500ms $bezier 500ms
		&.hide
			+mq-tablet
				transform: translateY(-100%)
				transition: transform 500ms $bezier 0ms

		&__circle
			+mq-tablet
				box-shadow: inset 0px 0px 0px rgba(34, 34, 34, 0.4)
				transition: box-shadow 250ms $bezier
			&.sending
				+mq-tablet
					box-shadow: inset -18px 18px 10px rgba(34, 34, 34, 0.3)
					transition: box-shadow 500ms $bezier 500ms

		&__email-svg
			+mq-tablet
				transform: translate(-50%, -50%)
				transition: transform 500ms $bezier 500ms
			&.hide
				+mq-tablet
					transform: translate(-50%, calc(-50% + 150px))
					transition-delay: 0ms

		&__paperplane-svg
			+mq-tablet
				transform: translate(-50%, calc(-50% + 150px))
				transition: transform 500ms $bezier
			&.sending
				+mq-tablet
					transform: translate(-50%, -50%)
					transition: transform 500ms $bezier 500ms
					animation: flying 5000ms infinite 1000ms

		&__paperplane-svg:nth-child(2)
			+mq-tablet
				transform: translate(-100%, calc(-50% + 150px))
				transition: transform 500ms $bezier
			&.sending
				+mq-tablet
					transform: translate(-100%, -50%)
					transition: transform 500ms $bezier 500ms
					animation: flying-shadow 5000ms infinite 1000ms

		&__email
			+mq-tablet
				transition: transform 500ms $bezier 500ms, opacity 500ms $bezier 500ms
			&.hide
				+mq-tablet
					opacity: 0
					transform: translateY(100%)
					transition: transform 500ms $bezier, opacity 500ms $bezier

		&__status
			+mq-tablet
				transform: translate(-50%, 0)
				transition: transform 500ms $bezier 500ms, opacity 500ms $bezier 500ms
			&.hide
				+mq-tablet
					opacity: 0
					transform: translate(-50%, 100%)
					transition: transform 500ms $bezier, opacity 500ms $bezier
			
			&--period
				+mq-tablet
					animation: sending_periods 500ms infinite

				&:nth-child(2)
					+mq-tablet
						animation-delay: 100ms

				&:nth-child(3)
					+mq-tablet
						animation-delay: 200ms	

			&.hide &--period
				+mq-tablet
					animation: initial



	&-form
		+mq-tablet
			transition: transform 500ms $bezier 500ms
		&.hide
			+mq-tablet
				transform: translateY(100%)
				transition: transform 500ms $bezier 0ms
		&.sending
			+mq-tablet
				transform: translateX(-100%)
				transition: transform 500ms $bezier






@keyframes flying
	0%, 50%, 100%
		transform: translate(-50%, -50%) skewY(0)
		transition: none
	25%
		transform: translate(-50%, calc(-50% - 10px)) skewY(-5deg)
		transition: none
	75%
		transform: translate(-50%, calc(-50% + 10px)) skewY(5deg)
		transition: none
@keyframes flying-shadow
	0%, 50%, 100%
		transform: translate(-100%, -50%) skewY(0)
		transition: none
	25%
		transform: translate(-100%, calc(-50% + 25px)) skewY(-5deg)
		transition: none
	75%
		transform: translate(-100%, calc(-50% + 45px)) skewY(5deg)
		transition: none

@keyframes sending_periods
	100%
		opacity: 0



