.footer
	
	&-button
		&__arrow
			transition: transform 500ms $bezier
		&:hover .footer-button__arrow
			transform: translateX(-50px) rotate(180deg)
		
		&::before
			transition: transform 500ms $bezier, width 500ms $bezier
		&:hover.footer-button::before
			width: 25px
			transform: translate(-50px, 1px)