.header
	
	&-logo.hide
		transform: translateY(-70px)
		+mq-tablet
			transform: translate(-28px + $border-size, -70px)

	&-menu-toggle--top.hide
		transform: translateY(0)

	&-menu-toggle--left.hide
		transform: translate(0, -50%)

	&-lang-list.hide
		transform: translateY(0)

	&-social-list.hide
		transform: translate(0, -50%)

	&-logo.open
		transform: translateY(-70px)
		+mq-tablet
			transform: translate((-28px + $border-size * 1.5) + 130px, -20px)
	&-lang-list.open
		+mq-tablet
			transform: translate(-$border-size /2, 50px)
	&-social-list.open
		+mq-tablet
			transform: translate(-50px, -50%)

	&-lang-list
		& .lang-list__link.active
			+mq-tablet
				color: $black-color

