form.contact__form(action='contact_form' method='post')
	
	//- name
	span.contact__form-name
		input.contact__form-input(type='text', name='name', autocomplete='name', required)
		span.highlight
		span.bar
		label.contact__form-text Name

	//- email
	span.contact__form-email
		input.contact__form-input(type='email', name='email', autocomplete='email' required)
		span.highlight
		span.bar
		label.contact__form-text Email

	//- message
	span.contact__form-message
		textarea.contact__form-input(type='text', name='message', cols='30', rows='5' required)
		span.highlight
		span.bar
		label.contact__form-text Message
	
	//- submit
	input.contact__form-button.button(type='submit', value='Send')
	
	//- spam honeypot
	input.contact__form-honeypot(type='text', name='company', placeholder='leave blank')