footer.page__contact
	
	//- social media
	ul.contact__social-container
		li.contact__social-items
			a(href='https://www.github.com/jumastevens', rel='external', target='_blank')
				span
					include svg/github.pug
		li.contact__social-items
			a(href='https://www.linkedin.com/in/juma-stevens-05730b138/', rel='external', target='_blank')
				span
					include svg/linkedin.pug
		li.contact__social-items
			a(href='https://www.instagram.com/jumastevens', rel='external', target='_blank')
				span
					include svg/instagram.pug							
														
	//- email	
	p.contact__text
		| Available for
		span.contact__text--highlight &#32;hire.
	a.contact__mail(href='mailto:jumastevens@gmail.com', rel='external') jumastevens@gmail.com