head
	
	//- meta
	meta(charset='UTF-8')
	meta(name='viewport', content='width=device-width, initial-scale=1')
	
	//- title
	title Juma Stevens: Front-End Web Developer
	
	//- css
	link(rel='stylesheet', type='text/css', href='../../assets/css/app.min.css')
	
	//- font(s)
	link(href='https://fonts.googleapis.com/css?family=Alike|Montserrat:400,800|Roboto', rel='stylesheet')