section.home#home
	//- background color
	.home-color
	
	//- title
	.home-title
		h1.title.title--lg
			| He
			br
			| llo
			span.title__period.title__period--drop .

	//- scrolldown
	.scrolldown.home-scrolldown
		span.scrolldown__arrow
			include svg/arrow.pug
		p.scrolldown__copy Scroll
	
	//- article
	.home-article-container
		article.home-article
			.home-article__header
				span.home-article__header-line
				p.home-article__header-copy Hello.
			p.home-article__content
				span.home-article__content-copy My name is Juma Stevens.
				span.home-article__content-copy.home-article__content-copy--color I&#39;m a Front-End Web Developer based in Portland, Oregon.