.loader

	.loader-juggle
		.loader-juggle__ball
		.loader-juggle__ball
		.loader-juggle__ball

	p.loader-copy
		span.loader-copy__letter L
		span.loader-copy__letter o
		span.loader-copy__letter a
		span.loader-copy__letter d
		span.loader-copy__letter i
		span.loader-copy__letter n
		span.loader-copy__letter g