.menu

	//- container
	.menu-inner-container

		//- languages
		include modules/lang-list
		+lang-list('menu')

		//- navigation
		nav.nav.menu-nav
			ul.nav__list
				mixin item(name)
					li.nav__item
						a(class='nav__link' href='#'+name)
							span.nav__copy.title.title--md=name
				+item('home')
				+item('bio')
				+item('portfolio')
				+item('contact')

		//- contact button
		.menu-button-container
			a.menu-button.contact-button
				.menu-button__arrow
					include svg/arrow
				p.menu-button__copy
					| I&#39;m available for
					span.title__period &#32;hire.
					br
					span.title.title--sm Let&#39;s talk