section.portfolio#portfolio

	//- title
	.portfolio-title-container
		h2.title.title--md.portfolio-title 
			| Port
			br
			| folio
			span.title__period .

	//- composite
	.portfolio-composite-container
		.portfolio-composite.vessel-composite.hide
			img.portfolio-composite__image(src='../../assets/images/vessel_composite/vessel_master_min.jpg', width='1200', height='900', alt='')

	//- article
	.article-container.portfolio-article-container
		article.article.portfolio-article
			h3.article__title.title.title--sm Vessel
			p.article__subtitle Gallery &amp; Portfolio
			p.article__copy Gallery is a minimalistic showcase for large photographic content. The user interface is stripped down to be unobtrusive, and simple to navigate. CSS animations are used to deliver smooth transitions between sections of the site. The minimalistic aesthetic is reinforced by building custom Javascript buttons and interactions that guide the user through the layered content.
			a.article__link(href='/example_1', target='_blank') View site
		
	//- composite
	.portfolio-composite-container
		.portfolio-composite.advent-composite.hide
			img.portfolio-composite__image(src='../../assets/images/advent_composite/advent_master_min.jpg', width='1200', height='900', alt='')

	//- article
	.article-container.portfolio-article-container
		article.article.portfolio-article
			h3.article__title.title.title--sm Advent
			p.article__subtitle Agency &amp; Business
			p.article__copy Advent is a mobile-first, responsive designed agency or small business website. The design aesthetic is professional with a carefully chosen color palette, typeface, and custom built icons. The website functions as a single page, with offscreen sections revealing themselves as required. To reduce the load time no external libraries were used, all Javascript being custom coded. The user interface employs many instances of animation to enhance the interactivity and overall user experience.
			a.article__link(href='/example_0', target='_blank') View site

	//- composite
	.portfolio-composite-container
		.portfolio-composite.gallery-composite.hide
			img.portfolio-composite__image(src='../../assets/images/gallery_composite/gallery_master_min.jpg', width='1200', height='900', alt='')
			

	//- article
	.article-container.portfolio-article-container
		article.article.portfolio-article
			h3.article__title.title.title--sm Gallery
			p.article__subtitle Gallery &amp; Portfolio
			p.article__copy Gallery is a minimalistic showcase for large photographic content. The user interface is stripped down to be unobtrusive, and simple to navigate. CSS animations are used to deliver smooth transitions between sections of the site. The minimalistic aesthetic is reinforced by building custom Javascript buttons and interactions that guide the user through the layered content.
			a.article__link(href='/example_1', target='_blank') View site